<div class="row" id="content_div">
	<div class="col-lg-7">

	  <!--company profile-->
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<div class="col-lg-6">
		<div class="panel">
			<div class="panel-heading">
				<h3 class="panel-title">Current profile</h3>
			</div>

      <%= form_for(@company, url: update_profile_company_path(@company), html: {class: "panel-body form-horizontal form-padding"}) do |f| %>

		  <div class="form-group">
		    <label class="col-md-3 control-label" for="company_name">Name</label>
		    <div class="col-md-9">
		      <input type="text" id="company_name" name="company[name]" class="form-control" placeholder="Company name" value="<%= @company.name %>">
		      <!-- <small class="help-block">This is a help text</small> -->
		    </div>
		  </div>

		  <div class="form-group">
		    <label class="col-md-3 control-label" for="company_registration_number">Registration No</label>
		    <div class="col-md-9">
		      <input type="text" id="company_registration_number" name="company[registration_number]" class="form-control" placeholder="Company registration number" value="<%= @company.registration_number %>">
		      <!-- <small class="help-block">This is a help text</small> -->
		    </div>
		  </div>

		  <!--Textarea-->
		  <div class="form-group">
		    <label class="col-md-3 control-label" for="company_address">Address</label>
		    <div class="col-md-9">
		      <textarea id="company_address" name="company[address]" rows="9" class="form-control" placeholder=""><%= @company.address %></textarea>
		    </div>
		  </div>

		  <div class="form-group">
		    <label class="col-md-3 control-label" for="company_phone_number">Phone Number</label>
		    <div class="col-md-9">
		      <input type="text" id="company_phone_number" name="company[phone_number]" class="form-control" placeholder="Company phone number" value="<%= @company.phone_number %>">
		      <!-- <small class="help-block">This is a help text</small> -->
		    </div>
		  </div>

		  <div class="form-group">
		    <label class="col-md-3 control-label" for="company_fax_number">Fax Number</label>
		    <div class="col-md-9">
		      <input type="text" id="company_fax_number" name="company[fax_number]" class="form-control" placeholder="Company fax number" value="<%= @company.fax_number %>">
		      <!-- <small class="help-block">This is a help text</small> -->
		    </div>
		  </div>

		    <div class="form-group pad-ver">
		      <label class="col-md-3 control-label">Type</label>
		      <div class="col-md-9"><p class="form-control-static"><%= @company.type  %></p></div>
		    </div>

		    <div class="panel-footer">
		      <div class="row">
		        <div class="col-sm-9 col-sm-offset-3">
		          <button class="btn btn-info btn-labeled fa fa-user fa-lg" type="submit">Update</button>
		        </div>
		      </div>
		    </div>

		<% end %>
          
    </div>
  </div>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<!--End user table-->

		    <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title">Setting</h3>
        </div>
        <%= form_tag update_setting_company_path(@company) do %>
        <%= hidden_field_tag "from_dashboard", true  %>
        <div class="panel-body">
            <div class="form-group">
              <div class="col-md-12">
                <div class="table-responsive">
                <table class="table table-bordered">
                  <tr>
                    <td>Allow Multiple Booking per unit</td>
                    <td>
                      <label>
                        <input type="radio" name="company_setting[allow_multiple_booking]" <%= @setting.try(:allow_multiple_booking) == true ? "checked" : nil %> value="true"> Yes
                      </label>
                      <label>
                        <input type="radio" name="company_setting[allow_multiple_booking]" <%= @setting.try(:allow_multiple_booking) == false ? "checked" : nil %> value="false"> No
                      </label>
                    </td>
                  </tr>
                </table>
                </div>
            </div>
          </div>
          <%= submit_tag "Update", :class=>"btn btn-primary pull-right" %>
        </div>
        <% end %>
    </div>

	</div>
</div>

