

<% merchant_id = "estatekitkat" %>
<% verify_key = "09f318dd2c8acd160df1691870ce2abe" %>
<% a = [@molpay.amount, merchant_id, @molpay.order_id, verify_key].join %>
<% vcode = Digest::MD5.hexdigest(a) %>
<%#= vcode %>

<form action="https://www.onlinepayment.com.my/NBepay/pay/estatekitkat/index.php" method="post">
				
<div class="row" id="content_div">
  <div class="col-lg-12">
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title">Molpay - Booking Fee</h3>
      </div>
      <div class="panel-body">

      	<table class="table table-bordered">
      		<tr>
      			<td>Amount:</td>
      			<td>
      				RM <%= number_with_precision(@molpay.amount, precision: 0, separator: ".", delimiter: ",") %>
      			</td>
      		</tr>
      		<tr>
      			<td>Order ID:</td>
      			<td>
      				<%= @molpay.order_id %>
      			</td>
      		</tr>
      		<tr>
      			<td>Bill Name:</td>
      			<td>
      				<%= @molpay.bill_name rescue "-" %>
      			</td>
      		</tr>

      		<tr>
      			<td>Bill Email:</td>
      			<td>
      				<%= @molpay.bill_email rescue "-" %>
      			</td>
      		</tr>

      		<tr>
      			<td>Bill Mobile:</td>
      			<td>
      				<%= @molpay.bill_mobile rescue "-" %>
      			</td>
      		</tr>

      		<tr>
      			<td>Bill Description:</td>
      			<td>
      				<%= @molpay.bill_desc rescue "-" %>
      			</td>
      		</tr>

      	</table>
  <div style="display: none;">
    <input type="text" name="amount" value="<%= @molpay.amount %>">
    <input type="text" name="orderid" value="<%= @molpay.order_id %>">
    <input type="text" name="bill_name" value="<%= @molpay.bill_name %>">
    <input type="text" name="bill_email" value="<%= @molpay.bill_email %>">
    <input type="text" name="bill_mobile" value="<%= @molpay.bill_mobile %>">
    <input type="text" name="bill_desc" value="<%= @molpay.bill_desc %>">
		<input type="text" name="country" value="MY">
		<input type="text" name="cur" value="rm">
		<input type="text" name="returnurl" value="http://dev.estatekitkat.com/molpay/return_url">
		<input type="text" name="vcode" value="<%= vcode %>">
  </div>
    	  <div class="panel-footer">
    		  <div class="row">
    		    <div class="col-sm-3 col-sm-offset-8">
    		      <button class="btn btn-info btn-labeled fa fa-user fa-lg" type="submit">Pay through Molpay</button>
    		    </div>
    		  </div>
    		</div>
      </div>
    </div>
  </div>
</div>

</form>


		<%#= amount = 100.00 %>
<!--<%#= bill_name = "Mr.Khongkk" %><br>
		<%#= bill_email = "khongkk89@gmail.com" %><br>
		<%#= bill_mobile = "012-4889338" %><br>
		<%#= bill_desc = "testing molpay rm100" %><br>
		<%#= cur = "rm" %><br>
		<%#= country = "MY" %><br>
		<%#= return_url = "http://wechat.estatekitkat.com/home/return_url" %><br> -->
		<!-- <%#= merchant_id = "estatekitkat" %><br>
		<%#= order_id = "EK8888" %><br>
		<%#= verify_key = "09f318dd2c8acd160df1691870ce2abe" %><br>
		<%# b = [amount, merchant_id, order_id, verify_key].join %>
		<%# code = Digest::MD5.hexdigest(b) %>
		<%#= code %><br> -->

