<% if @molpay_history %>
	<% a = @molpay_history.order_id %>
	<% order_id = a + 1 %>
<% end %>
<%= form_tag molpay_molpay_transaction_histories_path do %>

<div class="row" id="content_div">
  <div class="col-lg-12">
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title">Product detail</h3>
      </div>
      <div class="panel-body">

    	<div class="form-group">
			  <label class="col-md-3 control-label" for="payment_period">Payment Period:</label>
			  <div class="col-md-9">
			  	
			    <input type="radio" name="payment_method" value="year" id="molpay_payment_year">
			    <label for="molpay_payment_year">Year</label>
					
					<input type="radio" name="payment_method" value="month" id="molpay_payment_month">
					<label for="molpay_payment_month">Month</label>
			  </div>
      </div>

      <div class="form-group">
      	<label class="col-md-3 control-label" for="amount">
      		Amount :
      	</label>
      	<div class="col-md-9">
      		<label id="amount_field">1.10</label>
      		<div style="display:none;"><%= text_field_tag "amount" %></div>
      	</div>
      </div>

      <div class="form-group">
      	<label class="col-md-3 control-label">
      		Order ID :
      	</label>
      	<div class="col-md-9">
      		<% unless order_id %>
						0001
						<%= hidden_field_tag "order_id", value="0001" %>
					<% else %>
						<%= order_id %>
						<%= hidden_field_tag "order_id", value="#{order_id}" %>
					<% end %>
      	</div>
      </div>

      <div class="form-group">
      	<label class="col-md-3 control-label">
      		Bill Name :
      	<label>
				<div class="col-md-9">
					<%= current_user.name %>
					<%= hidden_field_tag "bill_name", value="#{current_user.name}" %>
				</div>
      </div>

    </div>
  </div>
</div>
<% end %>	

				<!-- <li data-role="fieldcontain">
		      <div class="hr hr-dotted hr-5"></div>
		      <label>Amount(RM)</label>
		      <div id="amount_field">1.10</div>
		      <div style="display:none;"><%#= text_field_tag "amount" %></div>
		    </li>

		    <li data-role="fieldcontain">
		      <div class="hr hr-dotted hr-5"></div>
		      <label>Gift Code</label>
		      <%# if params[:result] %>
						<%#= params[:result] %>
						<div style="display:none;">
							<%#= text_field_tag "gift_code", value="#{params[:result]}" %>
						</div>
					<%# else %>
						EK8888
						<div style="display:none;">
							<%#= text_field_tag "gift_code", value="EK8888" %>
						</div>
					<%# end %>
		    </li>

		    <li data-role="fieldcontain">
		      <div class="hr hr-dotted hr-5"></div>
		      <label>Order ID</label>
			      <%# unless order_id %>
						0001
						<div style="display:none;">
							<%#= text_field_tag "order_id", value="0001" %>
						</div>
					<%# else %>
						<%#= order_id %>
						<div style="display:none;">
							<%#= text_field_tag "order_id", value="#{order_id}" %>
						</div>
					<%# end %>
		    </li>

		    <li data-role="fieldcontain">
		      <div class="hr hr-dotted hr-5"></div>
		      <label>Bill Name</label>
		      <%#= current_user.name %>
					<div style="display:none;">
						<%#= text_field_tag "bill_name", value="#{current_user.name}" %>
					</div>
		    </li>

		    <li data-role="fieldcontain">
		      <div class="hr hr-dotted hr-5"></div>
		      <label>Bill Mobile</label>
		      <%#= current_user.ontact_number %>
						<div style="display:none;">
							<%#= text_field_tag "bill_mobile", value="#{current_user.contact_number}" %>
						</div>
		    </li>
		
				<li data-role="fieldcontain">
		      <div class="hr hr-dotted hr-5"></div>
		      <label>Email</label>
		      <%#= current_user.email %>
						<div style="display:none;">
							<%#= text_field_tag "bill_email", value="#{current_user.email}" %>
						</div>
		    </li>

		    <li data-role="fieldcontain">
		      <div class="hr hr-dotted hr-5"></div>
		      <label>Bill Description</label>
		      	<div id="molpay_description">One Year Subscribe.</div>
						<div style="display:none;">
							<%#= text_field_tag "bill_desc", value="One Year Subscribe" %>
						</div>
		    </li> -->
		
		 <!-- <li data-role="fieldcontain">
        <button type="submit" >
          <i class='lIcon fa fa-floppy-o'></i>Submit Order
        </button>
      </li> -->

      </div>
    </div>
  </div>
</div>
<% end %>
<script type="text/javascript">
$(document).ready(function () {
// 		var month_payment = "9.90"
// 		var year_payment = "99.00"
//   $('input[name="payment_method"]').on('change', function(){
//     if ($(this).val()=='month') {
//          $("#amount_field").text("9.90");
//          $("#amount").val("9.90");
//          $("#bill_desc").val("One Month Subscribe.");
//          $("#molpay_description").text("One Month Subscribe.");
//     } else  
//     {
//         $("#amount").val("99.00");
//         $("#amount_field").text("99.00");
//         $("#bill_desc").val("One Year Subscribe.");
//         $("#molpay_description").text("One Year Subscribe.");
//     }
// });

 
});
</script>