<%= form_for(@blog, html: {class: "panel-body form-horizontal form-padding"}) do |f| %>
  

  <%= f.hidden_field :product_id, value: @product.id  %>
  

  <div class="form-group">
    <label class="col-md-3 control-label" for="blog_name">Blog</label>
    <div class="col-md-9">
      <input type="text" id="blog_name" name="blog[name]" class="form-control" placeholder="Blog name" value="<%= @blog.name %>">
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-3 control-label" for="blog_description">Description</label>
    <div class="col-md-9">
      <textarea id="blog_description" name="blog[description]" class="form-control" placeholder="Blog Description"><%= @blog.description %></textarea>
    </div>
  </div>

  <%= hidden_field_tag 'blog[blog_background_image]', nil %>
    <div class="form-group">
      <%= label_tag "Blog Background Image:", nil ,class: "col-sm-3 control-label" %>
      <div class="col-sm-9">
        <% if @blog.new_record? %>
          <%= f.file_field :blog_background_image %>
          <small class="help-block">Required Field</small>
        <% else %>
          <%= image_tag @blog.blog_background_image.url(:medium) %>
          <%= f.file_field :blog_background_image %>
          <small>Required Field</small>
        <% end %>
      </div>
    </div>

    <div class="panel-footer">
      <div class="row">
        <div class="col-sm-9 col-sm-offset-3">
          <button class="btn btn-info btn-labeled fa fa-user fa-lg" type="submit">Submit</button>
          <button class="btn btn-warning btn-labeled fa fa-repeat fa-lg" type="reset" id="back_btn">Back</button>
        </div>
      </div>
    </div>

<% end %>

<script type="text/javascript">
  
  $("#back_btn").click(function(e){
    e.preventDefault();
    <% if @blog.new_record? %>
      window.location.href='<%= blogs_path %>';
    <% else %>
      window.location.href='<%= blog_path(@blog) %>';
    <% end %>
  });
</script>


           
               