
<!-- <div class="row">
  <div class="col-sm-12">
    <div class="panel">
      <div class="panel-heading">
          <h3 class="panel-title">Sign Up</h3>
      </div>
      <%#= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
      <div class="form-inline">
        <div>
          <%#= render '/companies/form' %>
        </div>

        <div class="form-group">
          <%#= f.label :email %><br />
          <%#= f.email_field :email, autofocus: true %>
        </div>

        <div class="form-group">
          <%#= f.label :password %>
          <%# if @validatable %>
          <em>(<%#= @minimum_password_length %> characters minimum)</em>
          <%# end %><br />
          <%#= f.password_field :password, autocomplete: "off" %>
        </div>

        <div class="form-group">
          <%#= f.label :password_confirmation %><br />
          <%#= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>
        <div class="panel-footer text-right">
          <button class="btn btn-info" type="submit" name="commit" value="Sign Up">Sign Up</button>
        </div>
      </div>
      <%# end %>
    </div>
  </div>
</div> --> <!-- row -->


    <%#= render "devise/shared/links" %>
      <div class="form-horizontal">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
                  <div class="panel-heading">
                      <h3 class="panel-title"><u>Sign Up</u></h3>
                  </div>
                  <div class="panel-body">
                    <%= render '/companies/form' %>
                    
                    <div class="form-group">
                      <label for="demo-is-inputnormal" class="col-sm-3 control-label">Email</label>
                      <div class="col-sm-6">
                        <%= f.email_field :email, autofocus: true, :class=>"form-control", :placeholder => "Email" %>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="demo-is-inputlarge" class="col-sm-3 control-label">Password</label>
                      <div class="col-sm-6">
                        <% if @validatable %>
                        <em>(<%= @minimum_password_length %> characters minimum)</em>
                        <% end %><br />
                        <%= f.password_field :password, autocomplete: "off", :class=>"form-control" %>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-3 control-label">Password Confirmation</label>
                      <div class="col-sm-6">
                        <%= f.password_field :password_confirmation, autocomplete: "off", :class=>"form-control" %>
                      </div>
                    </div>
                  </div>
                  <div class="panel-footer">
                    <div class="row">
                      <div class="col-sm-9 col-sm-offset-3">
                        <button class="btn btn-info btn-labeled fa fa-user fa-lg" type="submit" value="Submit" name="commit">Login</button>
                        <button class="btn btn-warning btn-labeled fa fa-repeat fa-lg" type="reset">Reset</button>
                      </div>
                    </div>
                  </div>
              <% end %>
            </div>