<!-- LOGIN FORM -->
    <!--===================================================-->
<div class="cls-content">
  <% if flash[:alert] %>
    <div style="margin-top:0px;">
      <%= flash[:alert]  %>
    </div>
  <% end %>
    
  <div class="cls-content-sm panel">
    <div class="panel-body">
      <p class="pad-btm">Sign Up an account</p>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-user"></i></div>
            <input type="text" name="user[display_name]" class="form-control" placeholder="Display Name">
          </div>
        </div>

        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-user"></i></div>
            <input type="text" name="user[username]" class="form-control" placeholder="Username">
          </div>
        </div>

        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
            <input type="text" name="user[email]" class="form-control" placeholder="Email">
          </div>
        </div>

        <hr>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-asterisk"></i></div>
            <%= f.password_field :password, autocomplete: "off", :class=>"form-control", :placeholder => "Password" %>
          </div>
          <% if @validatable %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
        </div>

        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-asterisk"></i></div>
            <input type="password" name="user[password_confirmation]" class="form-control" placeholder="Password Confirmation">
              <%#= f.password_field :password_confirmation, autocomplete: "off", :class=>"form-control", :placeholder => "Password Confirmation" %>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-8 text-left checkbox">
            <!-- <label class="form-checkbox form-icon">
            <input type="checkbox"> Remember me
            </label> -->
          </div>
          <div class="col-xs-4">
            <div class="form-group pull-right">

            <button class="btn btn-success text-uppercase" type="submit">Sign Up</button>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
    
  <div class="pad-ver">
    <a href="<%= new_user_session_path %>" class="btn-link mar-rgt">Back to Sign In</a>
  </div>
</div>
    <!--===================================================-->      


