<p id="notice"><%= notice %></p>

<h1>Listing Site Plans</h1>

<table>
  <thead>
    <tr>
      <th>Project</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @site_plans.each do |site_plan| %>
      <tr>
        <td><%= site_plan.project_id %></td>
        <td><%= link_to 'Show', site_plan %></td>
        <td><%= link_to 'Edit', edit_site_plan_path(site_plan) %></td>
        <td><%= link_to 'Destroy', site_plan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Site plan', new_site_plan_path %>
