<% 
  if @user.new_record?
    posting_path = create_member_users_path
  else
    posting_path = update_member_user_path(@user)
  end 
%>
  <%= form_for(@user, url: posting_path, html: {class: "panel-body form-horizontal form-padding"}) do |f| %>

  <div class="form-group">
    <label class="col-md-3 control-label" for="user_username">Full Name</label>
    <div class="col-md-9">
      <input type="text" id="user_username" name="user[username]" class="form-control" placeholder="Full name" value="<%= @user.username %>">
      <!-- <small class="help-block">This is a help text</small> -->
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-3 control-label" for="user_display_name">Display Name</label>
    <div class="col-md-9">
      <input type="text" id="user_name" name="user[display_name]" class="form-control" placeholder="Display name" value="<%= @user.display_name %>">
      <!-- <small class="help-block">This is a help text</small> -->
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-3 control-label" for="user_email">Email</label>
    <div class="col-md-9">
      <input type="text" id="user_email" name="user[email]" class="form-control" placeholder="Email" value="<%= @user.email %>">
      <!-- <small class="help-block">This is a help text</small> -->
    </div>
  </div>
  
  <% if @user.new_record? %>
  <div class="form-group pad-ver">
      <label class="col-md-3 control-label">Agency</label>
      <div class="col-md-9">
        <div class="select">
          <select class="selectpicker" name="user[company_id]">
            <option value="">Select an agency</option>
            <option value="<%= @company.id %>" id="current_company">This is <%= @company.name %>'s user </option>
            <% @agencies.each do |agency| %>
              <option value="<%= agency.id %>" <%= @user.company_id == agency.id ? "selected" : nil %>><%= agency.name %></option>
            <% end %>
          </select>
        </div>
      </div>
    </div>

  <div class="form-group pad-ver">
      <label class="col-md-3 control-label">Type</label>
      <div class="col-md-9">
        <div class="radio">
          <!-- Inline radio buttons -->
          <label class="form-radio form-normal active">
            <input type="radio" name="user_type_id" <%= @user.type_id == User::ADMIN ? "checked" : nil %> value="1">Admin
          </label>
          <label class="form-radio form-normal user_type_supervisor">
            <input type="radio" name="user_type_id" <%= @user.type_id == User::SUPERVISOR ? "checked" : nil %> value="2">Supervisor
          </label>
          <label class="form-radio form-normal">
            <input type="radio" name="user_type_id" <%= @user.type_id == User::STAFF ? "checked" : nil %> value="3"> Staff
          </label>
        </div>
        <small class="help-block">Create For Agency (Supervisor and Staff are same)</small>
      </div>
    </div>

  <div class="form-group">
    <label class="col-md-3 control-label" for="user_password">Password</label>
    <div class="col-md-9">
      <input type="password" id="user_password" name="user[password]" class="form-control" placeholder="Minimum 8 characters" value="<%= @user.password %>">
      <!-- <small class="help-block">This is a help text</small> -->
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-3 control-label" for="user_confirmation">Password Confirmation</label>
    <div class="col-md-9">
      <input type="password" id="user_password_confirmation" name="user[password_confirmation]" class="form-control" placeholder="Retype password" value="<%= @user.password_confirmation %>">
      <!-- <small class="help-block">This is a help text</small> -->
    </div>
  </div>

<% end %>

  <div class="panel-footer">
      <div class="row">
        <div class="col-sm-9 col-sm-offset-3">
          <button class="btn btn-info btn-labeled fa fa-user fa-lg" type="submit">Submit</button>
          <button class="btn btn-warning btn-labeled fa fa-repeat fa-lg" type="reset" id="back_btn">Back</button>
        </div>
      </div>
    </div>
<% end %>

<script type="text/javascript">
  
  $("#back_btn").click(function(e){
    e.preventDefault();
    <% if @user.new_record? %>
      window.location.href='<%= users_path %>';
    <% else %>
      window.location.href='<%= user_path(@user) %>';
    <% end %>
  });

  $(".user_type_supervisor").hide();
  $('select').change(function () {
    var optionSelected = $(this).find("option:selected");
    var valueSelected = optionSelected.val();
    var radio_button = $(".user_type_supervisor");
    // alert(valueSelected);
      if (valueSelected == 1)
      { 
        radio_button.show();
      }
      else
      {
        radio_button.hide();
      }
  });

  // $("#agent_setting_notified_on_price_amount").hide();
    // $("#agent_setting_notified_on_price_gte_on").click(function() {
    //     var checked = $(this).prop('checked');
    // var field_amount = $("#agent_setting_notified_on_price_amount");

    //     if (checked)
    //     { 
    //       field_amount.show();
    //     }
    //     else
    //     {
    //       field_amount.hide();
    //     }
    // });

</script>

