<div class="row" id="content_div">
  <div class="col-lg-6">
<div class="panel">
<div class="panel-heading">
        <h3 class="panel-title">User detail</h3>
      </div>
	<div class="panel-body">
	<p>
		  <strong>Full Name:</strong>
		  <%= @user.username %>
		</p>
		<p>
		  <strong>Display Name:</strong>
		  <%= @user.display_name %>
		</p>

		<p>
		  <strong>Email:</strong>
		  <%= @user.email %>
		</p>

		<p>
		  <strong>Type:</strong>
		  <%= @user.type %>
		</p>

		<p>
		  <strong>Agency:</strong>
		  <%= @user.company.name %>
		</p>
	</div>
</div>


<%= link_to 'Edit', edit_user_path(@user), class: "btn btn-small btn-info" %>
<%= link_to 'Back', users_path, class: "btn btn-small btn-warning" %>
