<% if @admin.new_record? %>
  <% posting_path = super_admin_admins_path %>
<% else %>
  <% posting_path = super_admin_admin_path(@admin) %>
<% end %>
<%= form_for(@admin, url: posting_path, html: {class: "panel-body form-horizontal form-padding"}) do |f| %>

   <div class="form-group">
    <label class="col-md-3 control-label" for="admin_display_name">Full Name</label>
    <div class="col-md-9">
      <input type="text" id="admin_username" name="admin[username]" class="form-control" placeholder="Full name" value="<%= @admin.username %>">
      <!-- <small class="help-block">This is a help text</small> -->
    </div>
  </div>

 <div class="form-group">
    <label class="col-md-3 control-label" for="admin_display_name">Display Name</label>
    <div class="col-md-9">
      <input type="text" id="admin_display_name" name="admin[display_name]" class="form-control" placeholder="Display name" value="<%= @admin.display_name %>">
      <!-- <small class="help-block">This is a help text</small> -->
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-3 control-label" for="admin_email">Email</label>
    <div class="col-md-9">
      <input type="text" id="admin_email" name="admin[email]" class="form-control" placeholder="Email" value="<%= @admin.email %>" <%= @admin.new_record? ? nil : "disabled" %>>
      <!-- <small class="help-block">This is a help text</small> -->
    </div>
  </div>

  <% if @admin.new_record? %>

    <div class="form-group">
      <label class="col-sm-3 control-label">Password</label>
      <div class="col-sm-6">
        <em>(8 characters minimum)</em>
        <br />
        <%= f.password_field :password, autocomplete: "off", :class=>"form-control", :placeholder => "Enter Password" %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Password Confirmation</label>
      <div class="col-sm-6">
        <%= f.password_field :password_confirmation, autocomplete: "off", :class=>"form-control", :placeholder => "Retype Password" %>
      </div>
    </div>

<% end %>


 <div class="panel-footer">
      <div class="row">
        <div class="col-sm-9 col-sm-offset-3">
          <button class="btn btn-info btn-labeled fa fa-user fa-lg" type="submit">Submit</button>
          <button class="btn btn-warning btn-labeled fa fa-repeat fa-lg" type="reset" id="back_btn">Back</button>
        </div>
      </div>
    </div>
<% end %>

<script type="text/javascript">
  
  $("#back_btn").click(function(e){
    e.preventDefault();
    <% if @admin.new_record? %>
      window.location.href='<%= super_admin_admins_path %>';
    <% else %>
      window.location.href='<%= super_admin_admin_path(@admin) %>';
    <% end %>
  });
</script>
