<%= content_for(:title, "Blog") %>

<br>
<br>
<div class="page_content_wrap">
	<div class="content_wrap">
		<div class="content">
			<div class="sc_property_wrap">
        <div class="sc_property sc_property_style_property-1">
          <div class="sc_columns columns_wrap">

          	<% @blogs.each do |blog| %>
						<div class="column-1_3 column_padding_bottom">
			       	<div class="sc_property_item">
			          <div class="sc_property_image">
			             <a href="<%= blog_details_path(blog_id: blog.id) %>"><img alt="<%= blog.blog_background_image %>" src="<%= blog.blog_background_image %>" height="570" width="414" >
			             </a>
			          </div>
			          <div class="sc_property_info">
			            <!-- <div class="post_info">
											<span class="post_info_item">in <a href="#" class="category_link">Masonry 3 columns</a></span>
									</div> -->
										<h3 class="post_title">
											<a href="<%= blog_details_path(blog_id: blog.id) %>">
												<%= blog.name %>
												<!-- Which Area Rug Material is Right for Your Apartment? -->
											</a>
										</h3>
									<div class="post_info">
											<!-- <span class="post_info_item">by <a href="#" class="post_info_author">Jesse Doe</a></span>
											<span class="post_info_item">On <a href="single-post.html">February 16, 2016</a></span> -->
											<!-- <span class="post_info_item post_info_counters">	
											<a class="post_counters_item" href="single-post.html#respond"><span>0</span> Comments</a>
											</span> -->
									</div>
									<div class="post_descr">
										<p><%= blog.description[0..200] %>...</p>
										<a href="<%= blog_details_path(blog_id: blog.id) %>" class="sc_button sc_button_text sc_button_iconed icon-right-dir">View details</a> 
									</div>
								</div>
			       	</div>
			      </div>
			      <% end %>
			    </div>
				</div>
			</div>
		<!-- 	<nav id="pagination" class="pagination_wrap pagination_pages">
				<span class="pager_current active">1</span>
				<a href="#" class="">2</a>
				<a href="#" class="pager_next"></a>
				<a href="#" class="pager_last"></a>
			</nav> -->
		</div>
	</div>
</div>