<%= content_for(:title, "All Property") %>
    
<div class="page_content_wrap">
   <div class="content_wrap">
      <div class="content">
         <div class="sc_property sc_property_style_property-1">
            <div class="columns_wrap ">
               
               <% @products.each do |product| %>
               <div class="column-1_2 column_padding_bottom">
                  <div class="sc_property_item">
                     <div class="sc_property_image">
                        <a href="single-post.html">
                           <div class="property_price_box">
                              <span class="property_price_box_sign">
                              <%= product.currency %>
                              </span><span class="property_price_box_price"><%= number_with_precision(product.display_price, :precision => 2, :delimiter => ',') %></span>
                           </div>
                           <!-- <img alt="" src="img/v3/770x460.jpg"> -->
                           <img alt="<%= product.background_image %>" src="<%= product.background_image %>" height="770" width="570" >
                        </a>
                     </div>
                     <div class="sc_property_info">
                        <div class="sc_property_description">House for sale</div>
                        <div>
                           <div class="sc_property_icon">
                              <span class="icon-location"></span>
                           </div>
                           <div class="sc_property_title">
                              <div class="sc_property_title_address_1">
                                 <a href="single-post.html">
                                    <%= product.address %>
                                 </a> 
                              </div>
                              <div class="sc_property_title_address_2">
                                 <%= product.location %>
                              </div>
                           </div>
                           <div class="cL"></div>
                        </div>
                     </div>
                     <div class="sc_property_info_list">
                        <span class="icon-building113"><%= product.display_sqft %> sqft</span>
                        <span class="icon-bed"><%= product.bedroom %></span>
                        <span class="icon-bath"><%= product.bathroom %></span>
                        <!-- <span class="icon-warehouse">2</span> -->
                     </div>
                  </div>
               </div>
               <% end %>
               <!-- <div class="column-1_2 column_padding_bottom">
                  <div class="sc_property_item">
                     <div class="sc_property_image">
                        <a href="single-post.html">
                           <div class="property_price_box">
                              <span class="property_price_box_sign">$</span><span class="property_price_box_price">2,189,000</span>
                           </div>
                           <img alt="" src="img/v3/770x460.jpg">
                        </a>
                     </div>
                     <div class="sc_property_info">
                        <div class="sc_property_description">Townhouse for sale</div>
                        <div>
                           <div class="sc_property_icon">
                              <span class="icon-location"></span>
                           </div>
                           <div class="sc_property_title">
                              <div class="sc_property_title_address_1">
                                 <a href="single-post.html">9615 Shore Rd APT BA</a> 
                              </div>
                              <div class="sc_property_title_address_2">Brooklyn, NY 11209</div>
                           </div>
                           <div class="cL"></div>
                        </div>
                     </div>
                     <div class="sc_property_info_list">
                        <span class="icon-building113">1,286 sqft</span>
                        <span class="icon-bed">2</span>
                        <span class="icon-bath">3</span>
                        <span class="icon-warehouse">3</span>
                     </div>
                  </div>
               </div> -->

               <!-- <div class="column-1_2 column_padding_bottom">
                  <div class="sc_property_item">
                     <div class="sc_property_image">
                        <a href="single-post.html">
                           <div class="property_price_box">
                              <span class="property_price_box_sign">$</span><span class="property_price_box_price">3,449</span><span class="property_price_box_per">/year</span>
                           </div>
                           <img alt="" src="img/v3/770x460.jpg">
                        </a>
                     </div>
                     <div class="sc_property_info">
                        <div class="sc_property_description">House for rent</div>
                        <div>
                           <div class="sc_property_icon">
                              <span class="icon-location"></span>
                           </div>
                           <div class="sc_property_title">
                              <div class="sc_property_title_address_1">
                                 <a href="single-post.html">80646 Via Pessaro</a> 
                              </div>
                              <div class="sc_property_title_address_2">La Quinta, CA 32453</div>
                           </div>
                           <div class="cL"></div>
                        </div>
                     </div>
                     <div class="sc_property_info_list">
                        <span class="icon-building113">886 sqft</span>
                        <span class="icon-bed">2</span>
                        <span class="icon-bath">3</span>
                        <span class="icon-warehouse">2</span>
                     </div>
                  </div>
               </div> -->

               <!-- <div class="column-1_2 column_padding_bottom">
                  <div class="sc_property_item">
                     <div class="sc_property_image">
                        <a href="single-property.html">
                           <div class="property_price_box">
                              <span class="property_price_box_sign">$</span><span class="property_price_box_price">1,249,000</span>
                           </div>
                           <img alt="" src="img/v3/770x460.jpg">
                        </a>
                     </div>
                     <div class="sc_property_info">
                        <div class="sc_property_description">House for sale</div>
                        <div>
                           <div class="sc_property_icon">
                              <span class="icon-location"></span>
                           </div>
                           <div class="sc_property_title">
                              <div class="sc_property_title_address_1">
                                 <a href="single-property.html">134 Mirror Lake Dr</a> 
                              </div>
                              <div class="sc_property_title_address_2">Lake Placid,NY 12946</div>
                           </div>
                           <div class="cL"></div>
                        </div>
                     </div>
                     <div class="sc_property_info_list">
                        <span class="icon-building113">1,286 sqft</span>
                        <span class="icon-bed">2</span>
                        <span class="icon-bath">3</span>
                        <span class="icon-warehouse">2</span>
                     </div>
                  </div>
               </div> -->

               <!-- <div class="column-1_2 column_padding_bottom">
                  <div class="sc_property_item">
                     <div class="sc_property_image">
                        <a href="single-post.html">
                           <div class="property_price_box">
                              <span class="property_price_box_sign">$</span><span class="property_price_box_price">1,000</span><span class="property_price_box_per">/year</span>
                           </div>
                           <img alt="" src="img/v3/770x460.jpg">
                        </a>
                     </div>
                     <div class="sc_property_info">
                        <div class="sc_property_description">Commercial for rent</div>
                        <div>
                           <div class="sc_property_icon">
                              <span class="icon-location"></span>
                           </div>
                           <div class="sc_property_title">
                              <div class="sc_property_title_address_1">
                                 <a href="single-post.html">9403 Whitman Ave</a> 
                              </div>
                              <div class="sc_property_title_address_2">Bakersfield, CA 325</div>
                           </div>
                           <div class="cL"></div>
                        </div>
                     </div>
                     <div class="sc_property_info_list">
                        <span class="icon-building113">6,970 sqft</span>
                        <span class="icon-bed">2</span>
                        <span class="icon-bath">2</span>
                        <span class="icon-warehouse">1</span>
                     </div>
                  </div>
               </div> -->

               <!-- <div class="column-1_2 column_padding_bottom">
                  <div class="sc_property_item">
                     <div class="sc_property_image">
                        <a href="single-property.html">
                           <div class="property_price_box">
                              <span class="property_price_box_sign">$</span><span class="property_price_box_price">249,900</span>
                           </div>
                           <img alt="" src="img/v3/770x460.jpg">
                        </a>
                     </div>
                     <div class="sc_property_info">
                        <div class="sc_property_description">Cond-op for sale</div>
                        <div>
                           <div class="sc_property_icon">
                              <span class="icon-location"></span>
                           </div>
                           <div class="sc_property_title">
                              <div class="sc_property_title_address_1">
                                 <a href="single-property.html">6099 S 4390 W</a> 
                              </div>
                              <div class="sc_property_title_address_2">Salt Lake City, UT 84118</div>
                           </div>
                           <div class="cL"></div>
                        </div>
                     </div>
                     <div class="sc_property_info_list">
                        <span class="icon-building113">2,372 sqft</span>
                        <span class="icon-bed">3</span>
                        <span class="icon-bath">2</span>
                        <span class="icon-warehouse">3</span>
                     </div>
                  </div>
               </div> -->

               <!-- <div class="column-1_2 column_padding_bottom">
                  <div class="sc_property_item">
                     <div class="sc_property_image">
                        <a href="single-property.html">
                           <div class="property_price_box">
                              <span class="property_price_box_sign">$</span><span class="property_price_box_price">1,500</span><span class="property_price_box_per">/year</span>
                           </div>
                           <img alt="" src="img/v3/770x460.jpg">
                        </a>
                     </div>
                     <div class="sc_property_info">
                        <div class="sc_property_description">Commercial for rent</div>
                        <div>
                           <div class="sc_property_icon">
                              <span class="icon-location"></span>
                           </div>
                           <div class="sc_property_title">
                              <div class="sc_property_title_address_1">
                                 <a href="single-property.html">495 Kenview Ave</a> 
                              </div>
                              <div class="sc_property_title_address_2">Detroit, MI 50010</div>
                           </div>
                           <div class="cL"></div>
                        </div>
                     </div>
                     <div class="sc_property_info_list">
                        <span class="icon-building113">1,013 sqft</span>
                        <span class="icon-bed">2</span>
                        <span class="icon-bath">2</span>
                        <span class="icon-warehouse">1</span>
                     </div>
                  </div>
               </div> -->

               <!-- <div class="column-1_2 column_padding_bottom">
                  <div class="sc_property_item">
                     <div class="sc_property_image">
                        <a href="single-property.html">
                           <div class="property_price_box">
                              <span class="property_price_box_sign">$</span><span class="property_price_box_price">150,000</span>
                           </div>
                           <img alt="" src="img/v3/770x460.jpg">
                        </a>
                     </div>
                     <div class="sc_property_info">
                        <div class="sc_property_description">Investment for sale</div>
                        <div>
                           <div class="sc_property_icon">
                              <span class="icon-location"></span>
                           </div>
                           <div class="sc_property_title">
                              <div class="sc_property_title_address_1">
                                 <a href="single-property.html">8 Simons Sq.</a> 
                              </div>
                              <div class="sc_property_title_address_2">Hamden, CT 75260</div>
                           </div>
                           <div class="cL"></div>
                        </div>
                     </div>
                     <div class="sc_property_info_list">
                        <span class="icon-building113">1,052 sqft</span>
                        <span class="icon-bed">1</span>
                        <span class="icon-bath">1</span>
                        <span class="icon-warehouse">2</span>
                     </div>
                  </div>
               </div> -->

            </div>
         </div>
         <!-- <nav id="pagination" class="pagination_wrap pagination_pages">
            <span class="pager_current active">1</span>
            <a href="#" class="">2</a>
            <a href="#" class="pager_next"></a>
            <a href="#" class="pager_last"></a>
         </nav> -->
      </div>
      <!-- <div class="sidebar widget_area scheme_original">
         <div class="sidebar_inner widget_area_inner">
            <aside class="widget widget_property_search scheme_dark">
               <form method="get" action="#">
                  <input type="text" name="ps_keyword" placeholder="Keyword" value="">
                  <select name="ps_status">
                     <option value="-1">Property Status</option>
                     <option value="sale">For sale</option>
                     <option value="rent">For rent</option>
                  </select>
                  <select name="ps_location">
                     <option value="-1">Property Location</option>
                     <option value="Upper East Side">Upper East Side</option>
                     <option value="Upper West Side">Upper West Side</option>
                     <option value="Midtown East">Midtown East</option>
                     <option value="Midtown West">Midtown West</option>
                     <option value="Downtown">Downtown</option>
                     <option value="Upper Manhattan">Upper Manhattan</option>
                     <option value="Brooklyn">Brooklyn</option>
                     <option value="Queens">Queens</option>
                     <option value="Bronx">Bronx</option>
                     <option value="Staten Island">Staten Island</option>
                  </select>
                  <select name="ps_type">
                     <option value="-1">Property Type</option>
                     <option value="Cooperative">Cooperative</option>
                     <option value="Condominium">Condominium</option>
                     <option value="Cond-op">Cond-op</option>
                     <option value="House">House</option>
                     <option value="Investment">Investment</option>
                     <option value="Commercial">Commercial</option>
                     <option value="Professional / Medical">Professional / Medical</option>
                     <option value="New Development">New Development</option>
                     <option value="Townhouse">Townhouse</option>
                     <option value="Vacant Lot / Land">Vacant Lot / Land</option>
                  </select>
                  <select name="ps_style">
                     <option value="-1">Property Style</option>
                     <option value="Pre-war">Pre-war</option>
                     <option value="Post-war">Post-war</option>
                     <option value="Loft">Loft</option>
                     <option value="Townhouse Apartment">Townhouse Apartment</option>
                     <option value="Penthouse">Penthouse</option>
                  </select>
                  <select name="ps_rooms">
                     <option value="-1">Total Rooms</option>
                     <option value="1">Rooms at least 1</option>
                     <option value="2">Rooms at least 2</option>
                     <option value="3">Rooms at least 3</option>
                     <option value="4">Rooms at least 4</option>
                     <option value="5">Rooms 5 or more</option>
                  </select>
                  <select name="ps_bedrooms">
                     <option value="-1">Bedrooms</option>
                     <option value="1">Bedrooms at least 1</option>
                     <option value="2">Bedrooms at least 2</option>
                     <option value="3">Bedrooms at least 3</option>
                     <option value="4">Bedrooms at least 4</option>
                     <option value="5">Bedrooms 5 or more</option>
                  </select>
                  <select name="ps_bathrooms">
                     <option value="-1">Bathrooms</option>
                     <option value="1">Bathrooms at least 1</option>
                     <option value="2">Bathrooms at least 2</option>
                     <option value="3">Bathrooms at least 3</option>
                     <option value="4">Bathrooms at least 4</option>
                     <option value="5">Bathrooms 5 or more</option>
                  </select>
                  <select name="ps_garages">
                     <option value="-1">Car Parking</option>
                     <option value="1">Car Parking at least 1</option>
                     <option value="2">Car Parking at least 2</option>
                     <option value="3">Car Parking at least 3</option>
                     <option value="4">Car Parking at least 4</option>
                     <option value="5">Car Parking 5 or more</option>
                  </select>
                  <div class="ps_area ps_range_slider">
                     <div class="ps_area_info">
                        <div class="ps_area_info_title">Area</div>
                        <div class="ps_area_info_value"></div>
                        <div class="cL"></div>
                     </div>
                     <div id="slider-range-area"></div>
                     <input type="hidden" class="ps_area_min" name="ps_area_min" value="0">
                     <input type="hidden" class="ps_area_max" name="ps_area_max" value="10000">
                     <input type="hidden" class="ps_area_big" name="ps_area_big" value="10000">
                  </div>
                  <div class="ps_price ps_range_slider">
                     <div class="ps_price_info">
                        <div class="ps_price_info_title">Price</div>
                        <div class="ps_price_info_value"></div>
                        <div class="cL"></div>
                     </div>
                     <div id="slider-range-price"></div>
                     <input type="hidden" class="ps_price_min" name="ps_price_min" value="0">
                     <input type="hidden" class="ps_price_max" name="ps_price_max" value="10000000">
                     <input type="hidden" class="ps_price_big" name="ps_price_big" value="10000000">
                  </div>
                  <div class="ps_amenities">
                     <div class="accent1h">Amenities</div>
                     <label class="estateLabelCheckBox">
                     <input  class="estateCheckBox" type="checkbox" name="ps_amenities[Attended Lobby]" value="1">Attended Lobby</label>
                     <label class="estateLabelCheckBox"><input  class="estateCheckBox" type="checkbox" name="ps_amenities[Concierge]" value="1">Concierge</label><label class="estateLabelCheckBox"><input  class="estateCheckBox" type="checkbox" name="ps_amenities[Fireplace]" value="1">Fireplace</label><label class="estateLabelCheckBox"><input  class="estateCheckBox" type="checkbox" name="ps_amenities[Gym]" value="1">Gym</label><label class="estateLabelCheckBox"><input  class="estateCheckBox" type="checkbox" name="ps_amenities[Outdoor Space]" value="1">Outdoor Space</label><label class="estateLabelCheckBox"><input  class="estateCheckBox" type="checkbox" name="ps_amenities[Parking]" value="1">Parking</label><label class="estateLabelCheckBox"><input  class="estateCheckBox" type="checkbox" name="ps_amenities[Pet Friendly]" value="1">Pet Friendly</label><label class="estateLabelCheckBox"><input  class="estateCheckBox" type="checkbox" name="ps_amenities[Pool]" value="1">Pool</label><label class="estateLabelCheckBox"><input  class="estateCheckBox" type="checkbox" name="ps_amenities[Views]" value="1">Views</label><label class="estateLabelCheckBox"><input  class="estateCheckBox" type="checkbox" name="ps_amenities[Washer / Drye]" value="1">Washer / Drye</label>
                  </div>
                  <div class="ps_options">
                     <div class="accent1h">Options</div>
                     <label class="estateLabelCheckBox"><input  class="estateCheckBox" type="checkbox" name="ps_options[New Listings Only]" value="1">New Listings Only</label><label class="estateLabelCheckBox"><input  class="estateCheckBox" type="checkbox" name="ps_options[Open Houses]" value="1">Open Houses</label><label class="estateLabelCheckBox"><input  class="estateCheckBox" type="checkbox" name="ps_options[Sponsor Units]" value="1">Sponsor Units</label><label class="estateLabelCheckBox"><input  class="estateCheckBox" type="checkbox" name="ps_options[Show Listings In Contract]" value="1">Show Listings In Contract</label>
                  </div>
                  <input type="submit" class="sc_button sc_button_box sc_button_style_style2 aligncenter ps" value="Search">
               </form>
            </aside>
         </div>
      </div> -->

   </div>
</div>
            