<%= form_for(@project, html: {class: "panel-body form-horizontal form-padding"}) do |f| %>

    <div class="form-group">
      <label class="col-md-3 control-label" for="project_name">Name</label>
      <div class="col-md-9">
        <input type="text" id="project_name" name="project[name]" class="form-control" placeholder="Project name" value="<%= @project.name %>">
        <!-- <small class="help-block">This is a help text</small> -->
      </div>
    </div>
    
    <div class="form-group">
      <label class="col-sm-3 control-label" for="project_description">Description:</label>
      <div class="col-sm-9">
        <input type="text" id="project_descrption" name="project[description]" class="form-control" placeholder="Project Description" value="<%= @project.description %>">
      </div>
    </div>

    <!-- <div class="form-group pad-ver">
      <label class="col-md-3 control-label">Status :</label>
      <div class="col-md-9">
        <div class="radio">
        <label class="form-radio form-normal active"><input type="radio" name="project_status_id" <%#= @project.status_id == 1 ? "checked" : nil %> value="1">Active
        </label>
        <label class="form-radio form-normal"><input type="radio" name="project_status_id" <%#= @project.status_id == 2 ? "checked" : nil %> value="2">
        Suspended
        </label>
        </div>
      </div>
    </div> -->

    <div class="form-group">
      <label class="col-sm-3 control-label" for="project_description">No. of phase:</label>
      <div class="col-sm-9">
        <select data-placeholder="Select a Number", class="form-control" name="project[no_phase]">
          <option>Select an option.</option>
          <% (0..9).each_with_index do |index| %>
            <option><%= index + 1 %></option>
          <% end %>
        </select>
      </div>
    </div>
    
    <div class="panel-footer">
      <div class="row">
        <div class="col-sm-9 col-sm-offset-3">
          <button class="btn btn-info btn-labeled fa fa-user fa-lg" type="submit">Submit</button>
          <button class="btn btn-warning btn-labeled fa fa-repeat fa-lg" type="reset" id="back_btn">Back</button>
        </div>
      </div>
    </div>

  <% end %>

  <script type="text/javascript">
  
  $("#back_btn").click(function(e){
    e.preventDefault();
    window.location.href='<%= projects_path %>';
  });
</script>