<div class="row">
  <div class="col-lg-7">

      <div class="panel">
        <div class="panel-heading">
            <div class="panel-control">
                <a class="fa fa-question-circle fa-lg fa-fw unselectable add-tooltip" href="#" data-original-title="<h4 class='text-thin'>Information</h4><p style='width:150px'>Click on the project name for more detail.</p>" data-html="true" title=""></a>
              </div>
              <h3 class="panel-title">Projects</h3>
        </div>
        
        <div class="panel-body">

          <div class="pad-btm form-inline">
          <div class="row">
            <div class="col-sm-6 table-toolbar-left">
              <button id="add_project_btn" class="btn btn-purple btn-labeled fa fa-plus">
                New Project
              </button>
              <!-- <div class="btn-group btn-group">
                <button class="btn btn-default"><i class="fa fa-exclamation-circle"></i></button>
                <button class="btn btn-default"><i class="fa fa-trash"></i></button>
              </div> -->
            </div>
          </div>
        </div>
        <%= form_tag update_project_projects_path do %>
          <div class="table-responsive">
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th>No.</th>
                  <th>Name</th>
                  <th>Status</th>
                  <th>Company</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <% @projects.each_with_index do |p, index| %>
                  <tr>
                    <td><%#= render :text => p.to_json %></td>
                    <td>
                      <%= text_field_tag "project[#{p.id}][name]", p.name, :class=>"form-control" %>
                    </td>
                    <td>
                      <label>
                        <input type="radio" name="project[<%= p.id %>][status_id]" <%= p.status_id == 1 ? "checked" : nil %> value="1">
                        Active
                      </label>
                      <label>
                        <input type="radio" name="project[<%= p.id %>][status_id]" <%= p.status_id == 2 ? "checked" : nil %> value="2">
                        Suspended
                      </label>
                    </td>
                    <td>
                      <%= text_field_tag "project[#{p.id}][company_id]", p.company_id, :class=>"form-control" %>
                    </td>
                    <td>
                      <a class="btn btn-xs btn-default add-tooltip" data-toggle="tooltip" href="<%= project_path(p) %>" data-original-title="Show" data-container="body"><i class="fa fa-pencil"></i></a>
                      
                      <a class="btn btn-xs btn-danger add-tooltip"  data-toggle="tooltip" href="<%= project_path(p) %>" data-original-title="Delete" data-method="delete" data-confirm="Are you sure?" data-container="body"><i class="fa fa-times"></i></a>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table> 
            un-complete>>><%= submit_tag "Update", :class=>"btn btn-primary pull-right" %>
            <% end %>
          </div> <!-- table responsive-->
        </div>
      </div>

  </div>
</div>

<script type="text/javascript">
  
  $("#add_project_btn").click(function() {
    window.location.href='<%= new_project_path %>';
  });
</script>