<p id="notice"><%= notice %></p>
<div class="panel">
  <div class="panel-heading">
      <h3 class="panel-title">Project List</h3>
  </div>
  <div class="panel-body">
    <table class="table table-bordered" data-search="true"
                  data-show-refresh="true"
                  data-show-toggle="true"
                  data-show-columns="true"
                  data-sort-name="id"
                  data-page-list="[5, 10, 20]"
                  data-page-size="10"
                  data-pagination="true" data-show-pagination-switch="true">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Status</th>
          <th>Company</th>
          <th>Action</th>
        </tr>
      </thead>
      
      <tbody>
        <% @projects.each do |project| %>
          <tr>
            <td><%= project.name %></td>
            <td><%= project.description %></td>
            <td><%= project.status_id %></td>
            <td><%= project.company_id %></td>
            <td><%= link_to 'Show', project , :class=>"btn btn-small btn-warning"%>
            <%= link_to 'Edit', edit_project_path(project), :class=>"btn btn-small btn-info" %>
            <%= link_to 'Delete', project, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn btn-small btn-danger" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
