<p id="notice"><%= notice %></p>

  <h1><u>Company List</u><%= link_to 'New Company', new_company_path, :class=>"btn btn-small btn-info pull-right" %></h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Registration number</th>
      <th>Address</th>
      <th>Phone number</th>
      <th>Fax number</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.name %></td>
        <td><%= company.registration_number %></td>
        <td><%= company.address %></td>
        <td><%= company.phone_number %></td>
        <td><%= company.fax_number %></td>
        <td><%= link_to 'Show', company, :class=>"btn btn-small btn-warning" %>
        <%= link_to 'Edit', edit_company_path(company), :class=>"btn btn-small btn-info" %>
        <%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' },:class=>"btn btn-small btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


