<div class="row" id="content_div">
  <div class="col-lg-6">
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title">Client detail</h3>
      </div>
       <div style="padding: 10px;">
          <p>
            <strong>Name:</strong>
            <%= @company.name %>
          </p>

          <p>
            <strong>Registration number:</strong>
            <%= @company.registration_number %>
          </p>

          <p>
            <strong>Address:</strong>
            <%= @company.address %>
          </p>

          <p>
            <strong>Phone number:</strong>
            <%= @company.phone_number %>
          </p>

          <p>
            <strong>Fax number:</strong>
            <%= @company.fax_number %>
          </p>
          <p>
            <strong>Type:</strong>
            <%= @company.type %>
          </p>

          <%= link_to 'Edit', edit_company_path(@company), :class=>"btn btn-small btn-warning" %>
          <%= link_to 'Back', companies_path, :class=>"btn btn-small btn-warning" %>
      </div>
    </div>
  </div>
</div>
