

<%= form_tag create_lot_reservation_path(@buyer), :class => "panel-body form-horizontal form-padding" do %>

    <%= hidden_field_tag "lot_id", nil, value: @lot.id %>
    <%= hidden_field_tag "sale_id", nil, value: @sale.id %>

   <div class="form-group">
    <label class="col-md-3 control-label" for="buyer_full_name">Full name: </label>
    <div class="col-md-9">
      <input type="text" id="buyer_full_name" name="buyer[full_name]" class="form-control" placeholder="Full name" value="">
	  </div>
	</div>

  <div class="form-group">
    <label class="col-md-3 control-label" for="buyer_email">Email: </label>
    <div class="col-md-9">
      <input type="text" id="buyer_email" name="buyer[email]" class="form-control" placeholder="Email" value="">
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-3 control-label" for="buyer_ic_number">IC Number: </label>
    <div class="col-md-9">
      <input type="text" id="buyer_ic_number" name="buyer[ic_number]" class="form-control" placeholder="IC number" value="">
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-3 control-label" for="buyer_address">Address</label>
    <div class="col-md-9">
      <input type="text" id="buyer_address" name="buyer[address]" class="form-control" placeholder="Address" value="">
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-3 control-label" for="buyer_age">Gender: </label>
    <div class="col-md-9">
      <%= radio_button_tag "buyer[gender]", 1, nil %> Male
      <%= radio_button_tag "buyer[gender]", 2, nil %> Female
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-3 control-label" for="buyer_age">Age: </label>
    <div class="col-md-9">
      <!-- <input type="text" id="buyer_age" name="buyer[age]" class="form-control" placeholder="Age" value=""> -->
    <select class="selectpicker" name="buyer[age]">
      <option>Select An Option</option>
      <option value="1">18-30</option>
      <option value="2">31-40</option>
      <option value="3">41-50</option>
      <option value="4">51-60</option>
      <option value="5">61 & above</option>
    </select>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-3 control-label" for="buyer_region_id">Region: </label>
    <div class="col-md-9">
      <!-- <input type="text" id="buyer_region" name="buyer[region]" class="form-control" placeholder="Region" value=""> -->
      <select class="selectpicker" name="buyer[region_id]">
        <option>Select An Option</option>
        <% @region.each do |p| %>
          <option value="<%= p.id %>"><%= p.name %></option>
        <% end %>
      </select>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-3 control-label" for="buyer_race">Race: </label>
    <div class="col-md-9">
    <select class="selectpicker" name="buyer[race]" id="buyer_race">
      <option>Select An Option</option>
      <option value="1">Chinese</option>
      <option value="2">Melayu</option>
      <option value="3">Indian</option>
      <option value="4">Other</option>
    </select>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-3 control-label" for="buyer_mobile_contact_number">Contact Number: </label>
    <div class="col-md-9">
      <input type="text" id="buyer_mobile_contact_number" name="buyer[mobile_contact_number]" class="form-control" placeholder="Mobile Contact Number" value="">
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-3 control-label" for="buyer_home_contact_number"></label>
    <div class="col-md-9">
      <input type="text" id="buyer_home_contact_number" name="buyer[home_contact_number]" class="form-control" placeholder="Home Contact Number" value="">
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-3 control-label" for="buyer_office_contact_number"></label>
    <div class="col-md-9">
      <input type="text" id="buyer_office_contact_number" name="buyer[office_contact_number]" class="form-control" placeholder="Office Contact Number" value="">
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-3 control-label" for="buyer_sources_type_id">How did you hear about us? </label>
    <div class="col-md-9">
     <!--  <input type="text" id="buyer_sources" name="buyer[sources]" class="form-control" placeholder="Newspaper? Internet?" value=""> -->
     <select class="selectpicker" name="buyer[sources_type_id]">
        <option>Select An Option</option>
        <% @sourcestype.each do |p| %>
          <option value="<%= p.id %>"><%= p.name %></option>
        <% end %>
      </select>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-3 control-label" for="buyer_booking_fee">Booking Fee: </label>
    <div class="col-md-9">
      <input type="text" id="buyer_booking_fee" name="booking_fee" class="form-control" placeholder="Booking Fee" value="">
    </div>
  </div>
  
 <!--  <div class="form-group">
    <label class="col-md-3 control-label" for="buyer_is_bumi_putera">Bumi Putera unit: </label>
    <div class="col-md-9">
      <input name="buyer[is_bumi_putera]" type="checkbox" value="true" />
    </div>
  </div> -->

  
  <div class="panel-footer">
    <div class="row">
      <div class="col-sm-9 col-sm-offset-3">
        <button class="btn btn-info btn-labeled fa fa-user fa-lg" type="submit">Submit</button>
        <!-- <button class="btn btn-warning btn-labeled fa fa-repeat fa-lg" type="reset" id="back_btn">Back</button> -->
      </div>
    </div>
  </div>

<% end %>

<!-- <script type="text/javascript">
  
//   $("#back_btn").click(function(e){
//     e.preventDefault();
//       window.location.href='<%#= reservation_path(@lot.product) %>';
//   });
// </script>
-->



  

