<div class="pad-btm"></div>
<div>
  <% if lot.display_name.present? %>
	  <%= lot.display_name %>
  <% else %>
    <%= lot.name %>
  <% end %>  
</div>
<div>	
	<%= lot.product_type.try(:name) %>
</div>
 <div>
  <!-- pricing control -->
 	<% if @setting.hide_price_of_sold_unit? && lot.status_id == Lot::SOLD %>
  RM 0
  <% elsif @setting.hide_price_of_reserved_unit? && lot.status_id == Lot::RESERVED %>
  RM 0
  <% else %>
	RM <%= number_with_precision(lot.selling_price, precision: 0, separator: ".", delimiter: ",") %>
	<% end %>
</div> 
<div>
  <% if is_middle_level_management? || is_low_level_admin? || is_top_level_staff? %>
    <% if lot.status_id == Lot::CONFIRM_RESERVATION %>
  	  <u>Unit Booked</u>
  	  <% elsif lot.status_id == Lot::SOLD %>
  	  <u>Unit Sold</u>
  	  <% else %>
  	  <%= link_to "Book It", buyer_reservation_path(lot), :class=>"btn btn-primary btn-labeled fa fa-plus #{lot.available_for_booking? ? nil : 'disabled' }", data: {:confirm => "Confirm to book #{lot.name} ?"} %>
  	<% end %>
	<% end %>
</div>
<div class="pad-top"></div>