<div class="row" id="content_div">
  <div class="col-lg-7">

			<div class="panel">
				<div class="panel-body">
				<div class="table-responsive">

						<table class="table table-bordered">
						  <thead>
							</thead>
							<tbody>
							<% num = @product.product_setting.unit_per_row || 5 %>
							<% @lots.in_groups_of(num).each do |lot_arry| %>
							  <tr>
							    <% lot_arry.each do |lot| %>
							      <% if lot %>
								      <td class="text-center <%= lot.background_css_name %>">
								        <div class="pad-btm"></div>
								        <div>	
								        	<%= lot.name %>
								        </div>
								        <div>	
								        	<%= lot.product_type.name %>
								        </div>
								         <div>	
								        	RM <%= number_with_precision(lot.selling_price, precision: 0, separator: ".", delimiter: ",") %>
								        </div> 
								        <div>
								        	<%= link_to "Book It", buyer_reservation_path(lot), :class=>"btn btn-purple btn-labeled fa fa-plus #{(lot.status_id == 2 || lot.status_id == 3) ? 'disabled' : nil}", data: {:confirm => "Confirm to book #{lot.name} ?"} %>
								        </div>
								        <div class="pad-top"></div>
								      </td>
								     <% else %>
								       <td class="text-center">
								        <div class="pad-btm"></div>
								        <div>	
								        	
								        </div>
								        <div>	
								        	
								        </div>
								         <div>	
								        	
								        </div> 
								        <div>
								        </div>
								        <div class="pad-top"></div>
								      </td>
								     <% end %>
							    <% end %>
							  </tr>
							<% end %>
							
							
								
							</tbody>
						</table>
					</div>
				</div>
			</div>
  </div>
</div>
