<% content_for :stylesheets do %>
	<style type="text/css">
		::-webkit-scrollbar {
      width: 15px;
    } /* this targets the default scrollbar (compulsory) */
    ::-webkit-scrollbar-track {
      background-color: #848c95;
		} /* the new scrollbar will have a flat appearance with the set background color */
		 
		::-webkit-scrollbar-thumb {
		  background-color: rgba(0, 0, 0, 0.2); 
		} /* this will style the thumb, ignoring the track */
		 
		/*::-webkit-scrollbar-button {
		  background-color: #7c2929;
		}*/ /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */
		 
		::-webkit-scrollbar-corner {
		  background-color: black;
		} /* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled */
	</style>
<% end %>


<div class="row" id="content_div">
  <div class="col-lg-12">

			<div class="panel">
				<div class="panel-body">
					<div class="col-lg-5 text-lg-left">
						<a href="<%= site_plans_product_path(@product) %>"><button class="btn btn-sm btn-primary">Site Plan</button></a>
						<a href="<%= floor_plans_product_path(@product) %>"><button class="btn btn-sm btn-primary">Floor Plan</button></a>
						<% if @product.e_brochure_url.present? %>
						  <a href="<%= @product.e_brochure_url %>"><button class="btn btn-sm btn-primary">i-Brochure</button></a>
						<% end %>
					</div>
				</div>
					<div class="panel-body" style="padding-top:0px;">
					  <div class="col-lg-5 text-lg-left">
					  	
					    <div class="bg-light text-center" style="width: 70px;float:left;border:1px;border-color:black;border-style:solid;"> Available </div>

					    <div class="bg-orange text-center" style="width:70px;float:left;border:1px;border-color:black;border-style:solid;">Prebook</div>

					    <div class="bg-info text-center" style="width: 70px;float:left;border:1px;border-color:black;border-style:solid;">Booked</div>
					    <div class="bg-danger text-center" style="width: 70px;float:left;border:1px;border-color:black;border-style:solid;"> Sold </div>
					    <div class="bg-pink text-center" style="width: 70px;float:left;border:1px;border-color:black;border-style:solid;"> Blocked </div>
				    </div>
				    <div class="text-lg-right" id="reload_div">
				    	<input type="radio" onclick="handler3sec()" name="reload" value="3000" > 3sec
				    	<input type="radio" onclick="handler10sec()" name="reload" value="10000" > 10sec
				    	<input type="radio" onclick="stopHandler()" name="reload" value="stop" > Stop
				    	<!-- <button type="radio" onclick="handler10sec()" name="reload" value="10000" > 10sec</button>
				    	<button type="radio" onclick="stopHandler()" name="reload" value="stop" > Stop</button> -->
				    </div>
				</div>
				
				
				<div class="panel-body" style="padding-top:0px;">
				<div class="table-responsive" id="reload_table">
				  
						<table class="table table-bordered">
<!-- 						  <thead>
							</thead> -->
							<tbody>
							<% num = @product.product_setting.unit_per_row || 5 %>
							<% @lots.each do |key, lot_group| %>
								<% lot_group.in_groups_of(num).each do |lot_arry| %>
								  <tr>
								    <% lot_arry.each do |lot| %>
								      <% if lot %>
									      <td class="text-center <%= lot.background_css_name %>" id="autoload">
									        <div class="pad-btm"></div>
									        <div>
									        	<%= lot.name %>
									        </div>
									        <div>	
									        	<%= lot.product_type.try(:name) %>
									        </div>
									         <div>
									         	<% unless lot.is_sold? %>
									        	RM <%= number_with_precision(lot.selling_price, precision: 0, separator: ".", delimiter: ",") %>
									        	<% else %>
									        	RM 0
									        	<% end %>
									        </div> 
									        <div>
									          <% if is_top_level_management? || is_low_level_admin? || is_top_level_staff? %>
									          <% if lot.status_id == Lot::CONFIRM_RESERVATION %>
									        	  <u>Unit Booked</u>
									        	  <% elsif lot.status_id == Lot::SOLD %>
									        	  <u>Unit Sold</u>
									        	  <% else %>
									        	  <%= link_to "Book It", buyer_reservation_path(lot), :class=>"btn btn-primary btn-labeled fa fa-plus #{lot.available_for_booking? ? nil : 'disabled' }", data: {:confirm => "Confirm to book #{lot.name} ?"} %>
									        	<% end %>
									        	<% end %>
									        </div>
									        <div class="pad-top"></div>
									      </td>
									     <% else %>
									       <td class="text-center">
									        <div class="pad-btm"></div>
									        <div>	
									        	
									        </div>
									        <div>	
									        	
									        </div>
									         <div>	
									        	
									        </div> 
									        <div>
									        </div>
									        <div class="pad-top"></div>
									      </td>
									    <% end %>
								    <% end %>
								  </tr>
								<% end %>
							<% end %>
							</tbody>
						</table>
					</div>
			</div> <!-- panel body -->

		</div> <!-- panel -->
  </div>
</div>  <!-- row -->


<script type="text/javascript">
		var watch3sec;
		var watch10sec;

		function handler3sec() {
				stopHandler();
		    watch3sec = setInterval(reload_table, 3000);
		}

		function handler10sec() {
				stopHandler();
		    watch10sec = setInterval(reload_table, 10000);
		}

		function reload_table() {
		  $('#reload_table').load(location.href + " #reload_table");
		}

		function stopHandler() {
		  clearInterval(watch3sec);
		  clearInterval(watch10sec);
		}

	// $(document).ready(function () {

	//    //  setInterval(function() {
	//    //  	// $('#reload_table').load(location.href + " #reload_table");
	//    //  	alert("abc");
	//   	// }, sec);
	// 	// $('#reload_div input').on('change', function() {
	// 	//    // alert($('input[name="reload"]:checked', '#reload_div').val()); 
	// 	// });

 //    function myFunction() {
	// 	    alert("halo 123");
	// 	}

    


	// });
</script>