<p id="notice"><%= notice %></p>

<h1>Listing Sources Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sources_types.each do |sources_type| %>
      <tr>
        <td><%= sources_type.name %></td>
        <td><%= link_to 'Show', sources_type %></td>
        <td><%= link_to 'Edit', edit_sources_type_path(sources_type) %></td>
        <td><%= link_to 'Destroy', sources_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sources type', new_sources_type_path %>
