<p id="notice"><%= notice %></p>

<h1>Listing Molpay Transaction Histories</h1>

<table>
  <thead>
    <tr>
      <th>Order</th>
      <th>Amount</th>
      <th>Is paid</th>
      <th>Status</th>
      <th>Bill name</th>
      <th>Bill email</th>
      <th>Bill mobile</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @molpay_transaction_histories.each do |molpay_transaction_history| %>
      <tr>
        <td><%= molpay_transaction_history.order_id %></td>
        <td><%= molpay_transaction_history.amount %></td>
        <td><%= molpay_transaction_history.is_paid %></td>
        <td><%= molpay_transaction_history.status %></td>
        <td><%= molpay_transaction_history.bill_name %></td>
        <td><%= molpay_transaction_history.bill_email %></td>
        <td><%= molpay_transaction_history.bill_mobile %></td>
        <td><%= link_to 'Show', molpay_transaction_history %></td>
        <td><%= link_to 'Edit', edit_molpay_transaction_history_path(molpay_transaction_history) %></td>
        <td><%= link_to 'Destroy', molpay_transaction_history, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Molpay transaction history', new_molpay_transaction_history_path %>
