<div class="row" id="content_div">
  <div class="col-lg-12">
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title">Sale Molpay Status - <%= @molpay_transaction_history.sale.lot.name %></h3>
      </div>
      <div class="panel-body">
        <table class="table table-bordered">
            <tr>
              <td>Booking Fee:</td>
              <td>
                RM <%= number_with_precision(@molpay_transaction_history.amount, precision: 0, separator: ".", delimiter: ",") %>
              </td>
            </tr>

            <tr>
              <td>Status:</td>
              <td>
                <% if @molpay_transaction_history.status == molpay_transaction_history::SUCCESS %>
                  Success
                <% elsif @molpay_transaction_history.status == molpay_transaction_history::FAILURE %>
                  Failure
                <% elsif @molpay_transaction_history.status == PENDING %>
                  Pending
                <% else %>
                  -
                <% end %>
              </td>
            </tr>

            <tr>
              <td>Bill name:</td>
              <td><%= @molpay_transaction_history.bill_name %></td>
            </tr>

            <tr>
              <td>Bill email:</td>
              <%= @molpay_transaction_history.bill_email %>
            </tr>

            <tr>
              <td>Bill mobile:</td>
              <td><%= @molpay_transaction_history.bill_mobile %></td>
            </tr>

            <tr>
              <td>Bill desc:</td>
              <td><%= @molpay_transaction_history.bill_desc %></td>
            </tr>

            <tr>
              <td>Tran:</td>
              <td><%= @molpay_transaction_history.tran_id %></td>
            </tr>

            <tr>
              <td>Domain:</td>
              <td><%= @molpay_transaction_history.domain %></td>
            </tr>

            <tr>
              <td>Currency:</td>
              <td><%= @molpay_transaction_history.currency %></td>
            </tr>

            <tr>
              <td>Paydate:</td>
              <td><%= @molpay_transaction_history.paydate %></td>
            </tr>

            <tr>
              <td>Order:</td>
              <td><%= @molpay_transaction_history.order_id %></td>
            </tr>

            <tr>
              <td>Appcode:</td>
              <td><%= @molpay_transaction_history.appcode %></td>
            </tr>
            <!-- 
            <tr>
              <td>Error code:</td>
              <td><%#= @molpay_transaction_history.error_code %></td>
            </tr>

            <tr>
              <td>Error desc:</td>
              <td><%#= @molpay_transaction_history.error_desc %></td>
            </tr>

            <tr>
              <td>Skey:</td>
              <td><%#= @molpay_transaction_history.skey %></td>
            </tr>
 -->
            <tr>
              <td>Channel:</td>
              <td><%= @molpay_transaction_history.channel %></td>
            </tr>

            
        </table>

        <div class="panel-footer">
            <div class="row">
              <div class="col-sm-3 col-sm-offset-8">
                <%= link_to 'Back', :back, :class=>"btn btn-default" %>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>


<%#= link_to 'Edit', edit_molpay_transaction_history_path(@molpay_transaction_history) %>

