<h3 class="panel-title"><strong>Lot List</strong></h3>

  <div class="panel">
    <div class="panel-body">
      <p>
        <strong>Name:</strong>
        <%= @product.name %>
      </p>

      <p>
        <strong>Description:</strong>
        <%= @product.description %>
      </p>

      <p>
        <strong>Status:</strong>
        <%= @product.status %>
      </p>

      <p>
        <strong>Phase:</strong>
        <%= @product.phase.name %>
      </p>
     
    </div>
  </div>
  <%#= link_to "Generate Lot", generate_lot_products_path(:id => @product.id), :class=>"btn btn-default" %>

  <div class="panel">
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Name</th>
              <th>Type</th>
              <th>Action</th>
            </tr>
          </thead>

          <tbody>
            <% @product.lots.each do |lot| %>
              <tr>
                <td><%= lot.name %></td>
                <td><%= lot.product_type.try(:name) %></td>
                <td>
                <%= link_to 'Destroy', lot, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn btn-danger btn-small" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

<br>

<%#= link_to 'New Lot', new_lot_path %>
