
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Product</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @lot.each do |lot| %>
      <tr>
        <td><%= lot.name %></td>
        <td><%= lot.description %></td>
        <td><%= lot.product_id %></td>
        <td>
          <%= link_to 'Show', lot %>
          <%= link_to 'Edit', edit_lot_path(lot) %>
          <%= link_to 'Destroy', lot, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

