					<div class="form-group">
			      <label class="col-md-6 control-label" for="customize_full_name">Full Name</label>
			      <div class="col-md-6" style="padding-top: 5px;">
			        <input type="hidden" id="customize_full_name_false" name="customize[full_name]" value="0">
			        <input class="demo-switch" name="customize[full_name]" type="checkbox" <%= customize.full_name? ? 'checked' : nil %> >
			      </div>
			    </div>

			    <div class="form-group">
			      <label class="col-md-6 control-label" for="customize_buyer_second_name">Buyer Second Name</label>
			      <div class="col-md-6" style="padding-top: 5px;">
			        <input type="hidden" id="customize_buyer_second_name_false" name="customize[buyer_second_name]" value="0">
			        <input class="demo-switch" name="customize[buyer_second_name]" type="checkbox" <%= customize.buyer_second_name? ? 'checked' : nil %> >
			      </div>
			    </div>

			    <div class="form-group">
			      <label class="col-md-6 control-label" for="customize_buyer_third_name">Buyer Third Name</label>
			      <div class="col-md-6" style="padding-top: 5px;">
			        <input type="hidden" id="customize_buyer_third_name_false" name="customize[buyer_third_name]" value="0">
			        <input class="demo-switch" name="customize[buyer_third_name]" type="checkbox" <%= customize.buyer_third_name? ? 'checked' : nil %> >
			      </div>
			    </div>

			    <div class="form-group">
			      <label class="col-md-6 control-label" for="customize_ic_number">IC Number</label>
			      <div class="col-md-6" style="padding-top: 5px;">
			        <input type="hidden" id="customize_ic_number_false" name="customize[ic_number]" value="0">
			        <input class="demo-switch" name="customize[ic_number]" type="checkbox" <%= customize.ic_number? ? 'checked' : nil %> >
			      </div>
			    </div>

			    <div class="form-group">
			      <label class="col-md-6 control-label" for="customize_second_ic_number">Second IC Number</label>
			      <div class="col-md-6" style="padding-top: 5px;">
			        <input type="hidden" id="customize_second_ic_number_false" name="customize[second_ic_number]" value="0">
			        <input class="demo-switch" name="customize[second_ic_number]" type="checkbox" <%= customize.second_ic_number? ? 'checked' : nil %> >
			      </div>
			    </div>

			    <div class="form-group">
			      <label class="col-md-6 control-label" for="customize_third_ic_number">Third IC Number</label>
			      <div class="col-md-6" style="padding-top: 5px;">
			        <input type="hidden" id="customize_third_ic_number_false" name="customize[third_ic_number]" value="0">
			        <input class="demo-switch" name="customize[third_ic_number]" type="checkbox" <%= customize.third_ic_number? ? 'checked' : nil %> >
			      </div>
			    </div>

			    <div class="form-group">
			      <label class="col-md-6 control-label" for="customize_home_contact_number">Home Contact Number</label>
			      <div class="col-md-6" style="padding-top: 5px;">
			        <input type="hidden" id="customize_home_contact_number_false" name="customize[home_contact_number]" value="0">
			        <input class="demo-switch" name="customize[home_contact_number]" type="checkbox" <%= customize.home_contact_number? ? 'checked' : nil %> >
			      </div>
			    </div>

			    <div class="form-group">
			      <label class="col-md-6 control-label" for="customize_mobile_contact_number">Mobile Contact Number</label>
			      <div class="col-md-6" style="padding-top: 5px;">
			        <input type="hidden" id="customize_mobile_contact_number_false" name="customize[mobile_contact_number]" value="0">
			        <input class="demo-switch" name="customize[mobile_contact_number]" type="checkbox" <%= customize.mobile_contact_number? ? 'checked' : nil %> >
			      </div>
			    </div>

			    <div class="form-group">
			      <label class="col-md-6 control-label" for="customize_office_contact_number">Office Contact Number</label>
			      <div class="col-md-6" style="padding-top: 5px;">
			        <input type="hidden" id="customize_office_contact_number_false" name="customize[office_contact_number]" value="0">
			        <input class="demo-switch" name="customize[office_contact_number]" type="checkbox" <%= customize.office_contact_number? ? 'checked' : nil %> >
			      </div>
			    </div>

			    <div class="form-group">
			      <label class="col-md-6 control-label" for="customize_address">Address</label>
			      <div class="col-md-6" style="padding-top: 5px;">
			        <input type="hidden" id="customize_address_false" name="customize[address]" value="0">
			        <input class="demo-switch" name="customize[address]" type="checkbox" <%= customize.address? ? 'checked' : nil %> >
			      </div>
			    </div>

			    <div class="form-group">
			      <label class="col-md-6 control-label" for="customize_email">Email</label>
			      <div class="col-md-6" style="padding-top: 5px;">
			        <input type="hidden" id="customize_email_false" name="customize[email]" value="0">
			        <input class="demo-switch" name="customize[email]" type="checkbox" <%= customize.email? ? 'checked' : nil %> >
			      </div>
			    </div>

			    <div class="form-group">
			      <label class="col-md-6 control-label" for="customize_race">Race</label>
			      <div class="col-md-6" style="padding-top: 5px;">
			        <input type="hidden" id="customize_race_false" name="customize[race]" value="0">
			        <input class="demo-switch" name="customize[race]" type="checkbox" <%= customize.race? ? 'checked' : nil %> >
			      </div>
			    </div>

			    <div class="form-group">
			      <label class="col-md-6 control-label" for="customize_age">Age</label>
			      <div class="col-md-6" style="padding-top: 5px;">
			        <input type="hidden" id="customize_age_false" name="customize[age]" value="0">
			        <input class="demo-switch" name="customize[age]" type="checkbox" <%= customize.age? ? 'checked' : nil %> >
			      </div>
			    </div>

			    <div class="form-group">
			      <label class="col-md-6 control-label" for="customize_age">Region</label>
			      <div class="col-md-6" style="padding-top: 5px;">
			        <input type="hidden" id="customize_region_id_false" name="customize[region_id]" value="0">
			        <input class="demo-switch" name="customize[region_id]" type="checkbox" <%= customize.region_id? ? 'checked' : nil %> >
			      </div>
			    </div>

			    <div class="form-group">
			      <label class="col-md-6 control-label" for="customize_postcode">Postcode</label>
			      <div class="col-md-6" style="padding-top: 5px;">
			        <input type="hidden" id="customize_postcode_false" name="customize[postcode]" value="0">
			        <input class="demo-switch" name="customize[postcode]" type="checkbox" <%= customize.postcode? ? 'checked' : nil %> >
			      </div>
			    </div>

			    <div class="form-group">
			      <label class="col-md-6 control-label" for="customize_gender">Gender</label>
			      <div class="col-md-6" style="padding-top: 5px;">
			        <input type="hidden" id="customize_gender_false" name="customize[gender]" value="0">
			        <input class="demo-switch" name="customize[gender]" type="checkbox" <%= customize.gender? ? 'checked' : nil %> >
			      </div>
			    </div>

			    <div class="form-group">
			      <label class="col-md-6 control-label" for="customize_country">Country</label>
			      <div class="col-md-6" style="padding-top: 5px;">
			        <input type="hidden" id="customize_country_false" name="customize[country]" value="0">
			        <input class="demo-switch" name="customize[country]" type="checkbox" <%= customize.country? ? 'checked' : nil %> >
			      </div>
			    </div>

			    <div class="form-group">
			      <label class="col-md-6 control-label" for="customize_is_bumi_putera">Is Bumi Putera</label>
			      <div class="col-md-6" style="padding-top: 5px;">
			        <input type="hidden" id="customize_is_bumi_putera_false" name="customize[is_bumi_putera]" value="0">
			        <input class="demo-switch" name="customize[is_bumi_putera]" type="checkbox" <%= customize.is_bumi_putera? ? 'checked' : nil %> >
			      </div>
			    </div>

			    <div class="form-group">
			      <label class="col-md-6 control-label" for="customize_sources_type_id">Sources type</label>
			      <div class="col-md-6" style="padding-top: 5px;">
			        <input type="hidden" id="customize_sources_type_id_false" name="customize[sources_type_id]" value="0">
			        <input class="demo-switch" name="customize[sources_type_id]" type="checkbox" <%= customize.sources_type_id? ? 'checked' : nil %> >
			      </div>
			    </div>

			    <div class="form-group">
			      <label class="col-md-6 control-label" for="customize_car_park">Car Park</label>
			      <div class="col-md-6" style="padding-top: 5px;">
			        <input type="hidden" id="customize_car_park_false" name="customize[car_park]" value="0">
			        <input class="demo-switch" name="customize[car_park]" type="checkbox" <%= customize.car_park? ? 'checked' : nil %> >
			      </div>
			    </div>

			    <div class="form-group">
			      <label class="col-md-6 control-label" for="customize_remark">Remark</label>
			      <div class="col-md-6" style="padding-top: 5px;">
			        <input type="hidden" id="customize_remark_false" name="customize[remark]" value="0">
			        <input class="demo-switch" name="customize[remark]" type="checkbox" <%= customize.remark? ? 'checked' : nil %> >
			      </div>
			    </div>