<div id="product_customize-tab" class="tab-pane fade">
	<div class="panel">
  <div class="panel-body">
		<%= form_tag update_reservation_customization_product_path(@customize), :class => "panel-body form-horizontal form-padding" do %>

		<%= hidden_field_tag :product_id, nil, :value => @product.id %>
		
		<h3><u>Buyer Info Columns</u></h3>
		<table class="table table-bordered table-hover">
			<tr>
				<td>
			    <%= render partial: "customize_buyer_tab", locals: {customize: @customize} %>
		  	</td>

		  	<td>
		  		<%= render partial: "required_customize_buyer_column", locals: {customize: @customize} %>
		  	</td>
		  </tr>
	  </table>

	 	<h3><u>Sale Info Columns</u></h3>

		<table class="table table-bordered table-hover">
			<tr>
				<td>
					<%= render partial: "customize_sale_tab", locals: {customize: @customize} %>
				</td>

				<td>
					<%= render partial: "required_customize_sale_column", locals: {customize: @customize} %>
				</td>
			</tr>
		</table>

		<%= submit_tag "Update", :class=>"btn btn-primary pull-right" %>
		<% end %>
	</div>
	</div>
</div>