					<div class="form-group">
			      <label class="col-md-6 control-label" for="customize_sale_person">Sale Person</label>
			      <div class="col-md-6" style="padding-top: 5px;">
			        <input type="hidden" id="customize_sale_person_false" name="customize[sale_person]" value="0">
			        <input class="demo-switch" name="customize[sale_person]" type="checkbox" <%= customize.sale_person? ? 'checked' : nil %> >
			      </div>
			    </div>

					<div class="form-group">
			      <label class="col-md-6 control-label" for="customize_downpayment">Downpayment</label>
			      <div class="col-md-6" style="padding-top: 5px;">
			        <input type="hidden" id="customize_downpayment_false" name="customize[downpayment]" value="0">
			        <input class="demo-switch" name="customize[downpayment]" type="checkbox" <%= customize.downpayment? ? 'checked' : nil %> >
			      </div>
			    </div>

			    <div class="form-group">
			      <label class="col-md-6 control-label" for="customize_downpayment_percentage">Downpayment Percentage</label>
			      <div class="col-md-6" style="padding-top: 5px;">
			        <input type="hidden" id="customize_downpayment_percentage_false" name="customize[downpayment_percentage]" value="0">
			        <input class="demo-switch" name="customize[downpayment_percentage]" type="checkbox" <%= customize.downpayment_percentage? ? 'checked' : nil %> >
			      </div>
			    </div>

			    <div class="form-group">
			      <label class="col-md-6 control-label" for="customize_booking_fee">Booking Fee</label>
			      <div class="col-md-6" style="padding-top: 5px;">
			        <input type="hidden" id="customize_booking_fee_false" name="customize[booking_fee]" value="0">
			        <input class="demo-switch" name="customize[booking_fee]" type="checkbox" <%= customize.booking_fee? ? 'checked' : nil %> >
			      </div>
			    </div>

			     <div class="form-group">
			      <label class="col-md-6 control-label" for="customize_confirm_date">Sale Date</label>
			      <div class="col-md-6" style="padding-top: 5px;">
			        <input type="hidden" id="customize_sale_date_false" name="customize[sale_date]" value="0">
			        <input class="demo-switch" name="customize[sale_date]" type="checkbox" <%= customize.sale_date? ? 'checked' : nil %> >
			      </div>
			    </div>

			    <div class="form-group">
			      <label class="col-md-6 control-label" for="customize_confirm_date">Confirm Date(spa date)</label>
			      <div class="col-md-6" style="padding-top: 5px;">
			        <input type="hidden" id="customize_confirm_date_false" name="customize[confirm_date]" value="0">
			        <input class="demo-switch" name="customize[confirm_date]" type="checkbox" <%= customize.confirm_date? ? 'checked' : nil %> >
			      </div>
			    </div>
			    
			    <div class="form-group">
			      <label class="col-md-6 control-label" for="customize_cancel_date">Cancel Date</label>
			      <div class="col-md-6" style="padding-top: 5px;">
			        <input type="hidden" id="customize_cancel_date_false" name="customize[cancel_date]" value="0">
			        <input class="demo-switch" name="customize[cancel_date]" type="checkbox" <%= customize.cancel_date? ? 'checked' : nil %> >
			      </div>
			    </div>

			    <div class="form-group">
			      <label class="col-md-6 control-label" for="customize_spa">SPA or Solicitor</label>
			      <div class="col-md-6" style="padding-top: 5px;">
			        <input type="hidden" id="customize_spa_false" name="customize[spa]" value="0">
			        <input class="demo-switch" name="customize[spa]" type="checkbox" <%= customize.spa? ? 'checked' : nil %> >
			      </div>
			    </div>
			    
			    <div class="form-group">
			      <label class="col-md-6 control-label" for="customize_payment_type_id">Payment Type</label>
			      <div class="col-md-6" style="padding-top: 5px;">
			        <input type="hidden" id="customize_payment_type_id_false" name="customize[payment_type_id]" value="0">
			        <input class="demo-switch" name="customize[payment_type_id]" type="checkbox" <%= customize.payment_type_id? ? 'checked' : nil %> >
			      </div>
			    </div>

			    <div class="form-group">
			      <label class="col-md-6 control-label" for="customize_selling_price">Selling Price</label>
			      <div class="col-md-6" style="padding-top: 5px;">
			        <input type="hidden" id="customize_selling_price_false" name="customize[selling_price]" value="0">
			        <input class="demo-switch" name="customize[selling_price]" type="checkbox" <%= customize.selling_price? ? 'checked' : nil %> >
			      </div>
			    </div>

			    <div class="form-group">
			      <label class="col-md-6 control-label" for="customize_cheque_number">Cheque Number</label>
			      <div class="col-md-6" style="padding-top: 5px;">
			        <input type="hidden" id="customize_cheque_number_false" name="customize[cheque_number]" value="0">
			        <input class="demo-switch" name="customize[cheque_number]" type="checkbox" <%= customize.cheque_number? ? 'checked' : nil %> >
			      </div>
			    </div>

			    <div class="form-group">
			      <label class="col-md-6 control-label" for="customize_transaction_number">Transaction Number</label>
			      <div class="col-md-6" style="padding-top: 5px;">
			        <input type="hidden" id="customize_transaction_number_false" name="customize[transaction_number]" value="0">
			        <input class="demo-switch" name="customize[transaction_number]" type="checkbox" <%= customize.transaction_number? ? 'checked' : nil %> >
			      </div>
			    </div>
			    

			    <div class="form-group">
			      <label class="col-md-6 control-label" for="customize_payment_image">Payment Image</label>
			      <div class="col-md-6" style="padding-top: 5px;">
			        <input type="hidden" id="customize_payment_image_false" name="customize[payment_image]" value="0">
			        <input class="demo-switch" name="customize[payment_image]" type="checkbox" <%= customize.payment_image? ? 'checked' : nil %> >
			      </div>
			    </div>