<div id="email_setting-tab" class="tab-pane fade">
    <h4 class="text-thin">Email Setting</h4>
      <%= form_tag update_email_setting_product_path(@email),({:class => "panel-body form-horizontal form-padding"}) do %>
      <%= hidden_field_tag :product_id, nil, :value => @product.id %>
      <div class="form-group">
      <label class="col-md-2 control-label" for="setting_email_subject">From</label>
        <div class="col-md-10">
        <input type="text" id="setting_email_from" name="setting_email[from]" class="form-control" placeholder="From" value="<%= @email.from %>">
        </div>
      </div>

      <div class="form-group">
      <label class="col-md-2 control-label" for="setting_email_subject">subject</label>
        <div class="col-md-10">
        <textarea id="setting_email_subject" name="setting_email[subject]" class="form-control" value="<%= @email.subject %>">
        </textarea>
        </div>
      </div>

      <div class="form-group">
      <label class="col-md-2 control-label" for="setting_email_body">Body</label>
        <div class="col-md-10">
        <input type="text" id="setting_email_body" name="setting_email[body]" class="form-control" placeholder="Body" value="<%= @email.body %>">
        </div>
      </div>

      
  <br>
      <%= submit_tag "Update", :class=>"btn btn-primary pull-right" %>
      <% end %>

</div>