<%= form_for(@product, html: {class: "panel-body form-horizontal form-padding"}) do |f| %>

  <div class="form-group">
    <label class="col-md-3 control-label">Phase Name</label>
  
    <div class="col-md-9"><p class="form-control-static"> <%= @phase.try(:name) %></p></div>
      <%= f.hidden_field :phase_id %>
  </div>

  <div class="form-group">
    <label class="col-md-3 control-label" for="product_name">Name</label>
    <div class="col-md-9">
      <input type="text" id="product_name" name="product[name]" class="form-control" placeholder="Product name" value="<%= @product.name %>">
      <!-- <small class="help-block">This is a help text</small> -->
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-3 control-label" for="product_description">Description:</label>
    <div class="col-md-9">
      <input type="text" id="product_description" name="product[description]" class="form-control" placeholder="Product Description" value="<%= @product.description %>">
      <!-- <small class="help-block">This is a help text</small> -->
    </div>
  </div>

  <div class="form-group pad-ver">
      <label class="col-md-3 control-label">Type</label>
      <div class="col-md-9">
        <div class="radio">
      <label class="form-radio form-normal active"><input type="radio" name="product_type_id" <%= @product.type_id == 1 ? "checked" : nil %> value="1"> Landed</label>
      <label class="form-radio form-normal"><input type="radio" name="product_type_id" <%= @product.type_id == 2 ? "checked" : nil %> value="2"> Highrise</label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-3 control-label" for="product_status_id">Status id:</label>
    <div class="col-md-9">
      <input type="text" id="product_status_id" name="product[status_id]" class="form-control" placeholder="Product Status ID" value="<%= @product.status_id %>">
      <!-- <small class="help-block">This is a help text</small> -->
    </div>
  </div>

  <div class="panel-footer">
    <div class="row">
      <div class="col-sm-9 col-sm-offset-3">
        <button class="btn btn-info btn-labeled fa fa-user fa-lg" type="submit">Submit</button>
        <button class="btn btn-warning btn-labeled fa fa-repeat fa-lg" type="reset" id="back_btn">Back</button>
      </div>
    </div>
  </div>

<% end %>

<script type="text/javascript">
  
  $("#back_btn").click(function(e){
    e.preventDefault();
    window.location.href='<%= products_path %>';
  });
</script>

