<%= form_for(@product, html: {class: "panel-body form-horizontal form-padding"}) do |f| %>

  <% if phase_id.present? %>
    <%= f.hidden_field :phase_id, value: phase_id %>
  <% end %>
  <div class="form-group">
    <label class="col-md-3 control-label" for="product_name">Name</label>
    <div class="col-md-9">
      <input type="text" id="product_name" name="product[name]" class="form-control" placeholder="Product name" value="<%= @product.name %>">
      <!-- <small class="help-block">This is a help text</small> -->
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-3 control-label" for="product_name">i-Brochure URL</label>
    <div class="col-md-9">
      <input type="text" id="product_e_brochure_url" name="product[e_brochure_url]" class="form-control" placeholder="e-Brochure URL" value="<%= @product.e_brochure_url %>">
      <small class="help-block">This URL will appear in reservation page.</small>
    </div>
  </div>

  <div class="form-group pad-ver">
      <label class="col-md-3 control-label">Type</label>
    <div class="col-md-9">
      <select data-placeholder="Select a type", class="selectpicker" name="product[type_id]">
        <option value="">Select an option.</option>
        
        <option value="1" <%= @product.type_id == Product::LANDED ? "selected='selected'" : nil %> >Landed</option>
        <option value="2" <%= @product.type_id == Product::HIGHRISE ? "selected='selected'" : nil %> >Highrise</option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-3 control-label" for="product_address">Address:</label>
    <div class="col-md-9">
      <input id="product_address" name="product[address]" class="form-control" placeholder="Product Address" value="<%= @product.address %>">
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-3 control-label" for="product_location">Location:</label>
    <div class="col-md-9">
      <input id="product_location" name="product[location]" class="form-control" placeholder="Product Location" value="<%= @product.location %>">
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-3 control-label" for="product_display_price">Display Price:</label>
    <div class="col-md-9">
      <input type="number" id="product_display_price" name="product[display_price]" class="form-control" placeholder="Product Display Price" value="<%= @product.display_price %>">
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-3 control-label" for="product_display_sqft">Display sq.ft:</label>
    <div class="col-md-9">
      <input type="number" id="product_display_sqft" name="product[display_sqft]" class="form-control" placeholder="Product Display sqft" value="<%= @product.display_sqft %>">
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-3 control-label" for="product_curreny">Currency:</label>
    <div class="col-md-9">
      <input id="product_currency" name="product[currency]" class="form-control" placeholder="Product Currency" value="<%= @product.currency %>">
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-3 control-label" for="product_completion_date">Completion Date:</label>
    <div class="col-md-9">
      <div class="input-group date">
        <input id="product_completion_date" name="product[completion_date]" class="form-control" value="<%= @project.completion_date.strftime("%d-%m-%Y") rescue'Select a date.' %>" required>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-3 control-label" for="product_bathroom">Bathroom:</label>
    <div class="col-md-9">
      <input type="number" id="product_currency" name="product[bathroom]" class="form-control" placeholder="Product Bathroom" value="<%= @product.bathroom %>">
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-3 control-label" for="product_bedroom">Bedroom:</label>
    <div class="col-md-9">
      <input id="product_bedroom" name="product[bedroom]" class="form-control" placeholder="Product Bedroom" value="<%= @product.bedroom %>">
    </div>
  </div>

  <hr>
  <div class="form-group">
    <label class="col-md-3 control-label" for="product_description">Description:</label>
    <div class="col-md-9">
      <textarea id="product_description" name="product[description]" class="form-control" placeholder="Product Description"><%= @product.description %></textarea>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-3 control-label" for="product_details_description">Details Description:</label>
    <div class="col-md-9">
      <textarea id="product_details_description" name="product[details_description]" class="form-control" placeholder="Details Description"><%= @product.details_description %></textarea>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-3 control-label" for="product_nearby_location_description">Nearby Location Description:</label>
    <div class="col-md-9">
      <textarea id="product_nearby_location_description" name="product[nearby_location_description]" class="form-control" placeholder="Nearby Location Description"><%= @product.nearby_location_description %></textarea>
    </div>
  </div>
  <hr>

  <%= hidden_field_tag 'product[background_image]', nil %>
    <div class="form-group">
      <%= label_tag "Background Image:", nil ,class: "col-sm-3 control-label" %>
      <div class="col-sm-9">
        <% if @product.new_record? %>
          <%= f.file_field :background_image %>
          <small class="help-block">Required Field</small>
        <% else %>
          <%= image_tag @product.background_image.url(:medium) %>
          <%= f.file_field :background_image %>
          <small>Required Field, Upload large picture for home page.</small>
        <% end %>
      </div>
    </div>

    <%= hidden_field_tag 'product[second_background_image]', nil %>
    <div class="form-group">
      <%= label_tag "Second Background Image:", nil ,class: "col-sm-3 control-label" %>
      <div class="col-sm-9">
        <% if @product.new_record? %>
          <%= f.file_field :second_background_image %>
          <small class="help-block">Required Field</small>
        <% else %>
          <%= image_tag @product.second_background_image.url(:medium) %>
          <%= f.file_field :second_background_image %>
          <small>Required Field</small>
        <% end %>
      </div>
    </div>

    <%= hidden_field_tag 'product[map_image]', nil %>
    <div class="form-group">
      <%= label_tag "Product Map Image:", nil ,class: "col-sm-3 control-label" %>
      <div class="col-sm-9">
        <% if @product.new_record? %>
          <%= f.file_field :map_image %>
          <small class="help-block">Required Field</small>
        <% else %>
          <%= image_tag @product.map_image.url(:medium) %>
          <%= f.file_field :map_image %>
          <small>Required Field</small>
        <% end %>
      </div>
    </div>

  <div class="panel-footer">
    <div class="row">
      <div class="col-sm-9 col-sm-offset-3">
        <button class="btn btn-info btn-labeled fa fa-user fa-lg" type="submit">Submit</button>
        <% unless @product.new_record? %>
          <button class="btn btn-warning btn-labeled fa fa-repeat fa-lg" type="reset" id="back_btn">Back</button>
        <% end %>
      </div>
    </div>
  </div>

<% end %>

<script type="text/javascript">
  
  $("#back_btn").click(function(e){
    e.preventDefault();
    <% if @product.new_record? %>
    <% else %>
      window.location.href='<%= product_path(@product) %>';
    <% end %>
  });
</script>

