  
  <div class="col-md-4">
      <p>
        <strong>Name:</strong>
        <%= product.name %>
      </p>

      <p>
        <strong>i-Brochure URL:</strong>
        <%= product.e_brochure_url %>
      </p>

      <p>
        <strong>Description:</strong>
        <%= product.description %>
      </p>
      <p>
        <strong>Type:</strong>
        <%= product.type %>
      </p>

      <p>
        <strong>Bedroom</strong>
        <%= product.bedroom %>
      </p>

      <p>
        <strong>Bathroom</strong>
        <%= product.bathroom %>
      </p>      
  </div>

  <div class="col-md-4">
    <p>
      <strong>Address:</strong>
      <%= product.address %>
    </p>

    <p>
      <strong>Location:</strong>
      <%= product.location %>
    </p>

    <p>
      <strong>Display Price:</strong>
      <%= product.display_price %>
    </p>

    <p>
      <strong>Display sq.ft:</strong>
      <%= product.display_sqft %>
    </p>

    <p>
      <strong>Currency:</strong>
      <%= product.currency %>
    </p>

    <p>
      <strong>Status:</strong>
      <%= product.status %>
    </p>
  </div>

  <div class="col-md-4">
    <p>
      <strong>Details Description:</strong>
      <%= product.details_description %>
    </p>

    <p>
      <strong>Nearby Location Description:</strong>
      <%= product.nearby_location_description %>
    </p>

  </div>