<h3 class="panel-title"><strong>Product Detail</strong></h3>
  <div class="panel">
    <div class="panel-body">
      <p>
        <strong>Name:</strong>
        <%= @product.name %>
      </p>

      <p>
        <strong>Type:</strong>
        <%= @product.type_id %>
      </p>

      <p>
        <strong>Description:</strong>
        <%= @product.description %>
      </p>

      <p>
        <strong>Status:</strong>
        <%= @product.status_id %>
      </p>

      <p>
        <strong>Phase:</strong>
        <%= @product.phase_id %>
      </p>
    </div>
  </div>
  <%= link_to "Create Lot", new_lot_path(:id => @product.id), :class=>"btn btn-default" %>
  <%= link_to "Lot List", lot_path(:id => @product.id), :class=>"btn btn-default" %>
  <hr>

  <h3 class="panel-title"><strong>Product Types List</strong></h3>
  <div class="panel">
  <%= form_tag do %>
      <table class="table table-bordered">
        <tr>
          <th>No.</th>
          <th>Name</th>
          <th>Desription</th>
          <th>Action</th>
        </tr>
        <% @product.product_types.each_with_index do |p, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td>
            <%= text_field_tag "product[#{p.id}][name]", p.name, :class=>"form-control" %>
          </td>
          <td></td>
          <td></td>
          </td>
        </tr>
        <% end %>
      </table>
      <%= submit_tag "Update", :class=>"btn btn-primary pull-right" %>
    <% end %>
  </div>