<h3 class="panel-title"><strong>Product Detail</strong></h3>
  <div class="panel">
    <div class="panel-body">
      <p>
        <strong>Name:</strong>
        <%= @product.name %>
      </p>

      <p>
        <strong>Type:</strong>
        <%= @product.type %>
      </p>

      <p>
        <strong>Description:</strong>
        <%= @product.description %>
      </p>

      <p>
        <strong>Status:</strong>
        <%= @product.status %>
      </p>

    </div>
  </div>
  <%#= link_to "Lot List", lots_path(:product_id => @product.id), :class=>"btn btn-default" %>
  <% if @product_types.any? %>
    <button data-target="#generate_lot" data-toggle="modal" class="btn btn-primary">Generate Lot</button>
  <% else %>
    <button data-toggle="modal" class="btn btn-primary" onclick="alert('Please create product type first.');">Generate Lot</button>
  <% end %>
  <button data-target="#new_product_type" data-toggle="modal" class="btn btn-primary">New Product Type</button>
  <hr>

  <div class="tab-base">
          
    <!--Nav Tabs-->
    <ul class="nav nav-tabs">
      <li class="active">
        <a data-toggle="tab" href="#lot-tab">Lot list</a>
      </li>
      <li>
        <a data-toggle="tab" href="#product_type-tab">Product type list <!-- <span class="badge badge-purple">27</span> --></a>
      </li>
      <li>
        <a data-toggle="tab" href="#product_setting-tab">Product Setting</a>
      </li>
      
    </ul>

    <!--Tabs Content-->
   <div class="tab-content">
      <%= render "/products/lot_tab"  %>
      <%= render "/products/product_type_tab"  %>
      <%= render "/products/product_setting_tab"  %>
   </div>
  </div>
              <!--===================================================-->
              <!--End Default Tabs (Left Aligned)-->
          

  <!-- <h3 class="panel-title"><strong>Product Types List</strong></h3> -->
  
  <!-- <h3 class="panel-title"><strong>Lot List</strong></h3> -->
 

  <div class="modal fade" id="generate_lot" role="dialog" tabindex="-1" aria-labelledby="generate_lot" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

        <!--Modal header-->
        <div class="modal-header">
          <button data-dismiss="modal" class="close" type="button">
          <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">Generate Lot (<%= @product.title %>)</h4>
        </div>

        <!--Modal body-->
        <div class="modal-body">
          <%= render "/products/generate_lot"  %>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="new_product_type" role="dialog" tabindex="-1" aria-labelledby="new_product_type" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

        <!--Modal header-->
        <div class="modal-header">
          <button data-dismiss="modal" class="close" type="button">
          <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">Product Type</h4>
        </div>

        <!--Modal body-->
        <div class="modal-body">
          <%= render "/product_types/form" %>
        </div>
      </div>
    </div>
  </div>