<h3 class="panel-title"><strong>Product Detail</strong></h3>
  <div class="panel">
    <div class="panel-body">
      <p>
        <strong>Name:</strong>
        <%= @product.name %>
      </p>

      <p>
        <strong>Type:</strong>
        <%= @product.type %>
      </p>

      <p>
        <strong>Description:</strong>
        <%= @product.description %>
      </p>

      <p>
        <strong>Status:</strong>
        <%= @product.status %>
      </p>

    </div>
  </div>
  <%#= link_to "Lot List", lots_path(:product_id => @product.id), :class=>"btn btn-default" %>
  <% if @product_types.any? %>
    <button data-target="#generate_lot" data-toggle="modal" class="btn btn-primary">Generate Lot</button>
  <% else %>
    <button data-toggle="modal" class="btn btn-primary" onclick="alert('Please create product type first.');">Generate Lot</button>
  <% end %>
  <button data-target="#new_product_type" data-toggle="modal" class="btn btn-primary">New Product Type</button>
  <hr>

  <h3 class="panel-title"><strong>Product Types List</strong></h3>
  <div class="panel">
    <div class="panel-body">
      <%= form_tag update_product_type_product_types_path do %>
      <table class="table table-striped table-hover">
        <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th class="text-center">Action</th>
        </tr>
        </thead>
        <tbody>

        <% @product_types.each do |p| %>
        
        <tr>
          <td>
            <%= text_field_tag "product_type[#{p.id}][name]", p.name, :class=>"form-control" %>
          </td>
          <td>
            <%= text_field_tag "product_type[#{p.id}][description]", p.description, :class=>"form-control" %>
          </td>
          <td class="text-center">
            <%= link_to 'Destroy', product_type_path(p), method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn btn-small btn-danger" %>
          </td>
        </tr>
        
        <% end %>
        </tbody>
      </table>
      <%= submit_tag "Update", :class=>"btn btn-primary pull-right" if @product_types.any? %>
      <% end %>
    </div>
  </div>

  <h3 class="panel-title"><strong>Lot List</strong></h3>
  <div class="panel">
    <div class="panel-body">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th class="text-center">Type</th>
            <th class="text-center">Status</th>
            <!-- <th class="text-center">Action</th> -->
          </tr>
        </thead>
        <%= form_tag update_lot_lots_path do %>
        <tbody>
          <% @product.lots.each do |lot| %>
            <tr>
              <td>
                <%= text_field_tag "update_lot[#{lot.id}][name]", lot.name, :class=>"form-control" %>
              </td>
              <td class="text-center">
                <%= lot.product_type.name %>
                <br>
                <!-- <select class="selectpicker" name="update_lot[#{lot.product_type_id}][product_type_id]">
                  <option>Select An Option</option>
                  <%# @product.product_types.each do |t| %>
                    <%# if lot.product_type_id %>
                      <option value="<%#= lot.product_type_id %>" selected><%#= lot.product_type.name %></option>
                    <%# else %>
                      <option value="<%#= t.id %>"><%#= t.name %></option>
                    <%# end %>
                  <%# end %>
                </select> -->
                <%#= text_field_tag "update_lot[#{lot.id}][product_type.name]", lot.product_type.name, :class=>"form-control" %>
              </td>
              <td class="text-center">
                <%= radio_button_tag "update_lot[#{lot.id}][status_id]", 1, lot.status_id == 1 ? "checked" : nil %> Available
                <%= radio_button_tag "update_lot[#{lot.id}][status_id]", 2, lot.status_id == 2 ? "checked" : nil %> Reserved
                <%= radio_button_tag "update_lot[#{lot.id}][status_id]", 3, lot.status_id == 3 ? "checked" : nil %> Sold
              </td>
              <!-- <td class="text-center"> -->
              <%#= link_to 'Destroy', lots_path(lot), method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn btn-danger btn-small" %>
              <!-- </td> -->
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= submit_tag "Update", :class=>"btn btn-primary pull-right" if @product.lots.any? %>
      <% end %>
    </div>
  </div>


  <div class="modal fade" id="generate_lot" role="dialog" tabindex="-1" aria-labelledby="generate_lot" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

        <!--Modal header-->
        <div class="modal-header">
          <button data-dismiss="modal" class="close" type="button">
          <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">Generate Lot (<%= @product.title %>)</h4>
        </div>

        <!--Modal body-->
        <div class="modal-body">
          <%= render "/products/generate_lot"  %>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="new_product_type" role="dialog" tabindex="-1" aria-labelledby="new_product_type" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

        <!--Modal header-->
        <div class="modal-header">
          <button data-dismiss="modal" class="close" type="button">
          <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">Product Type</h4>
        </div>

        <!--Modal body-->
        <div class="modal-body">
          <%= render "/product_types/form" %>
        </div>
      </div>
    </div>
  </div>