<%= form_for(@receipt) do |f| %>
  <% if @receipt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@receipt.errors.count, "error") %> prohibited this receipt from being saved:</h2>

      <ul>
      <% @receipt.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :skey %><br>
    <%= f.text_field :skey %>
  </div>
  <div class="field">
    <%= f.label :tran_id %><br>
    <%= f.number_field :tran_id %>
  </div>
  <div class="field">
    <%= f.label :domain %><br>
    <%= f.text_field :domain %>
  </div>
  <div class="field">
    <%= f.label :currency %><br>
    <%= f.text_field :currency %>
  </div>
  <div class="field">
    <%= f.label :paydate %><br>
    <%= f.datetime_select :paydate %>
  </div>
  <div class="field">
    <%= f.label :orderid %><br>
    <%= f.text_field :orderid %>
  </div>
  <div class="field">
    <%= f.label :appcode %><br>
    <%= f.text_field :appcode %>
  </div>
  <div class="field">
    <%= f.label :error_code %><br>
    <%= f.text_field :error_code %>
  </div>
  <div class="field">
    <%= f.label :error_desc %><br>
    <%= f.text_field :error_desc %>
  </div>
  <div class="field">
    <%= f.label :channel %><br>
    <%= f.text_field :channel %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
