<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @phase.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @phase.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @phase.status_id %>
</p>

<p>
  <strong>Project:</strong>
  <%= @phase.project_id %>
</p>

<%= link_to 'Edit', edit_phase_path(@phase) %> |
<%= link_to 'Back', phases_path %>
