
<h3 class="panel-title"><strong>Phase Detail</strong></h3>
<div class="panel">
	<div class="panel-body">
		<p>
		  <strong>Name:</strong>
		  <%= @phase.name %>
		</p>

		<p>
		  <strong>Description:</strong>
		  <%= @phase.description %>
		</p>

		<p>
		  <strong>Status:</strong>
		  <%= @phase.status_id %>
		</p>

		<p>
		  <strong>Project:</strong>
		  <%= @phase.project.name %>
		</p>
	</div>
</div>
<%= link_to "Create Product", new_product_path(:id => @phase.id), :class=>"btn btn-default" %>
<hr>
<div class="panel">
	<%= form_tag do %>
			<table class="table table-bordered">
				<tr>
					<th>Product</th>
					<th>Type</th>
					<th>Status</th>
					<th>Action</th>
				</tr>
				<% @product.each_with_index do |p, index| %>
				<tr>
					<td><%= text_field_tag "product[#{p.id}][name]", p.name, :class=>"form-control" %></td>
					<td><%= p.type_id %></td>
					<td><%= p.status_id %></td>
					<td>
						<%= link_to 'Detail', p, :class=>"btn btn-small btn-warning " %>
			      <%= link_to 'Edit', edit_product_path(p), :class=>"btn btn-small btn-info "  %>
			    </td>
					</td>
				</tr>
				<% end %>

				
			</table>
			<%= submit_tag "Update", :class=>"btn btn-primary pull-right" %>
		<% end %>
</div>

