<%#= render :text => params.to_json %>
<h3 class="panel-title"><strong>Phase Detail</strong></h3>
<div class="panel">
	<div class="panel-body">
		<p>
		  <strong>Name:</strong>
		  <%= @phase.name %>
		</p>

		<p>
		  <strong>Status:</strong>
		  <%= @phase.status %>
		</p>

<!-- 		<p>
		  <strong>Project:</strong>
		  <%#= @phase.project.name %>
		</p> -->
	</div>
</div>
<%#= link_to "Create Product", new_product_path(:id => @phase.id), :class=>"btn btn-default" %>
	<button data-target="#new_product" data-toggle="modal" class="btn btn-purple btn-labeled fa fa-plus">New Product</button>
<hr>
<%= form_tag update_product_phases_path do %>
<div class="panel">
	<div class="panel-body">
	<div class="table-responsive">
			<table class="table table-bordered">
				<tr>
					<th>Product</th>
					<th>Type</th>
					<th>Status</th>
					<th>Action</th>
				</tr>
				<% @product_list.order(:name).each_with_index do |p, index| %>
				<tr>
					<td><%= text_field_tag "product[#{p.id}][name]", p.name, :class=>"form-control" %></td>
					<td>
						<%= radio_button_tag "product[#{p.id}][type_id]", 1, p.type_id == 1 ? "checked" : nil %> Landed
						<%= radio_button_tag "product[#{p.id}][type_id]", 2, p.type_id == 2 ? "checked" : nil %> Highrise
					</td>
					<td>
						<%= radio_button_tag "product[#{p.id}][status_id]", 1, p.status_id == 1 ? "checked" : nil %> Avaiable
						<%= radio_button_tag "product[#{p.id}][status_id]", 2, p.status_id == 2 ? "checked" : nil %> Pending
					</td>
					<td>
						<%= link_to 'Detail', p, :class=>"btn btn-small btn-warning" %>
						<%= link_to "Create Type", new_product_type_path(:id => p.id, :phase_id => @phase.id), :class=>"btn btn-small btn-info" %>
			    </td>
					</td>
				</tr>
				<% end %>

				
			</table>
		</div>
		<%= submit_tag "Update", :class=>"btn btn-primary pull-right" %>
	</div>
</div>
<% end %>


	<div class="modal fade" id="new_product" role="dialog" tabindex="-1" aria-labelledby="new_product" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

        <!--Modal header-->
        <div class="modal-header">
          <button data-dismiss="modal" class="close" type="button">
          <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">New Product</h4>
        </div>

        <!--Modal body-->
        <div class="modal-body">
          <%= render :partial => "/products/form", :locals => { :phase_id => @phase.id } %>
        </div>
      </div>
    </div>
  </div>
