
<h3 class="panel-title"><strong>Phase Detail</strong></h3>
<div class="panel">
	<div class="panel-body">
		<p>
		  <strong>Name:</strong>
		  <%= @phase.name %>
		</p>

		<p>
		  <strong>Description:</strong>
		  <%= @phase.description %>
		</p>

		<p>
		  <strong>Status:</strong>
		  <%= @phase.status_id %>
		</p>

		<p>
		  <strong>Project:</strong>
		  <%= @phase.project.name %>
		</p>
	</div>
</div>
<%= link_to "Create Product", new_product_path(:id => @phase.id), :class=>"btn btn-default" %>

<hr>
<%= form_tag update_product_phases_path do %>
<div class="panel">
	<div class="panel-body">
	<div class="table-responsive">
			<table class="table table-bordered">
				<tr>
					<th>Product</th>
					<th>Type</th>
					<th>Status</th>
					<th>Action</th>
				</tr>
				<% @product.each_with_index do |p, index| %>
				<tr>
					<td><%= text_field_tag "product[#{p.id}][name]", p.name, :class=>"form-control" %></td>
					<td>
						<select class="selectpicker">
							<option>Select An Option</option>
							<% ProductType.where("product_id = ?", p.id).each do |t| %>
								<option value="<%= t.id %>"><%= t.name %></option>
							<% end %>
						</select>
					</td>
					<td>
						<label>
							<input type="radio" name="product[#{p.id}][status_id]" <%= p.status_id == 1 ? "checked" : nil %> value="1">
							Avaiable
		        </label>
		        <label>
		        	<input type="radio" name="product[#{p.id}][status_id]" <%= p.status_id == 2 ? "checked" : nil %> value="2">
		          Pending
		        </label>
					</td>
					<td>
						<%= link_to 'Detail', p, :class=>"btn btn-small btn-warning" %>
						<%= link_to "Create Type", new_product_type_path(:id => p.id, :phase_id => @phase.id), :class=>"btn btn-small btn-info" %>
			      <%= link_to 'Generate Lot', generate_lot_products_path(:id => p.id) ,:class=>"btn btn-small btn-default" %>
			    </td>
					</td>
				</tr>
				<% end %>

				
			</table>
		</div>
		<%= submit_tag "Update", :class=>"btn btn-primary pull-right" %>
	</div>
</div>
<% end %>
