<% if sale.status_id == Sale::PENDING %>
  <% if is_top_level_management? %>
    
    <%= link_to "Confirm Prebook", confirm_reservation_reservations_path(:sale_id => sale.id), :class=>"btn btn-info btn-sm",data: { confirm: "Confirm Booking Fee RM#{sale.booking_fee} ?"  } %>

    <button data-target="#confirm_sale<%= sale.id %>" data-toggle="modal" class="btn btn-success btn-sm">Confirm Sale</button>
  
    <button data-target="#reject_sale<%= sale.id %>" data-toggle="modal" class="btn btn-danger btn-sm">Reject Sale</button>

<% elsif sale.user_id == current_user.id %>
    <button data-target="#reject_sale<%= sale.id %>" data-toggle="modal" class="btn btn-danger btn-sm">Reject Sale</button>
  <% end %>
<% elsif sale.status_id == Sale::REJECTED || sale.status_id == Sale::CANCELLED %>
  <!-- <button class="btn btn-default btn-hover-info add-tooltip" data-placement="top" data-toggle="tooltip" data-original-title="">Show reason</button> -->

<button class="btn btn-default btn-active-success add-popover" data-toggle="popover" data-placement="top" data-original-title="Rejected/Cancelled Reason" data-content="<%= sale.reject_reason %>">Show reason</button>

<!-- after confirm reservation  -->
<% elsif sale.status_id == Sale::CONFIRM_RESERVATION %>
  <% if is_top_level_management? %>
    <button data-target="#confirm_sale<%= sale.id %>" data-toggle="modal" class="btn btn-success btn-sm">Confirm Sale</button>
  <% end %>
  <button data-target="#reject_sale<%= sale.id %>" data-toggle="modal" class="btn btn-danger btn-sm">Reject Sale</button>
<% elsif sale.status_id == Sale::PENDING_RESERVATION %>
  <button data-target="#reject_sale<%= sale.id %>" data-toggle="modal" class="btn btn-danger btn-sm">Reject Sale</button>
<% elsif sale.status_id == Sale::COMPLETED %>
  <% if is_top_level_management? %>
    <a href="<%= edit_sale_path(sale) %>">
      <button class="btn btn-primary btn-sm">
      Edit
      </button>
    </a>
    <button data-target="#cancel_sale<%= sale.id %>" data-toggle="modal" class="btn btn-danger btn-sm">Cancel</button>
  <% end %>
<% end %>