<div class="modal fade" id="confirm_sale<%= sale.id %>" role="dialog" tabindex="-1" aria-labelledby="confirm_sale" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <!--Modal header-->
      <div class="modal-header">
        <button data-dismiss="modal" class="close" type="button">
        <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Confirm Sale</h4>
      </div>

      <!--Modal body-->
      <div class="modal-body">
        <%= render partial: "confirm_sale_form",  :locals => { :sale => sale } %>
        <%#= render :text => params %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="reject_sale<%= sale.id %>" role="dialog" tabindex="-1" aria-labelledby="reject_sale" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <!--Modal header-->
      <div class="modal-header">
        <button data-dismiss="modal" class="close" type="button">
        <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Reject Sale</h4>
      </div>

      <!--Modal body-->
      <div class="modal-body">
        <%= render partial: "reject_sale_form",  :locals => { :sale => sale } %>
        <%#= render :text => params %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="cancel_sale<%= sale.id %>" role="dialog" tabindex="-1" aria-labelledby="cancel_sale" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <!--Modal header-->
      <div class="modal-header">
        <button data-dismiss="modal" class="close" type="button">
        <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Cancel Sale</h4>
      </div>

      <!--Modal body-->
      <div class="modal-body">
        <%= render partial: "cancel_sale_form",  :locals => { :sale => sale } %>
      </div>
    </div>
  </div>
</div>