<div class="row" id="content_div">
  <div class="col-lg-12">

      <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">Sales History</h3>
        </div>
        
        <%= search_form_for(@q, :html => {class: "form-horizontal"}) do |f| %>
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label class="control-label">Purchase Name</label>
                <input type="text" class="form-control" name="q[buyer_full_name_cont]" id="q_buyer_full_name_cont" >
              </div>
            </div>

            <div class="col-sm-4">
              <div class="form-group">
                <label class="control-label">Agency</label>
                <select class="selectpicker form-control" name="q[user_company_id_eq]" id="q_user_company_id_eq">
                    <option value="">All agencies</option>
                    <% @agencies.each do |agency| %>
                      <option value="<%= agency.id %>"><%= agency.name  %></option>
                    <% end %>
                  </select>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="form-group">
                <label class="control-label">Status</label>
                <select class="selectpicker form-control" name="q[status_id_eq]" id="q_status_id_eq">
                    <option value="">All status</option>
                    <option value="1">Pending</option>
                    <option value="2">Completed</option>
                    <option value="3">Rejected</option>
                  </select>
              </div>
            </div>
          </div>

          <br>
          <div class="panel-footer text-right">
            <button class="btn btn-info btn-labeled fa fa-user fa-lg" type="submit">Search</button>
          </div>
       </div>
        <% end %>

        <div class="panel-body">
        <div class="table-responsive">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Booking Date</th>
              <th>SPA Date</th>
              <th>Agency</th>
              <th class="text-center">Agent</th>
              <th class="text-center">Purchaser</th>
              <th class="text-center">Product</th>
              <th class="text-center">Lot</th>
              <th class="text-center">Price</th>
              <th class="text-center">Status</th>
              <th class="text-center">Action<th>
            </tr>
          </thead>

          <tbody>
            <% @sales.each do |sale| %>
              <tr>
                <td><%= sale.created_at.strftime("%d-%m-%Y")  %></td>
                <td><%= sale.confirm_date.strftime("%d-%m-%Y") rescue ""  %></td>
                <td><%= sale.user.company.name %></td>
                <td class="text-center"><%= sale.user.username %></td>
                <td class="text-center">
                  <% if is_top_level_management? || (sale.user_id == current_user.id) %>
                    <a href="<%= edit_buyer_path(sale.buyer, sale_id: sale.id) rescue '#' %>"><button class="btn btn-primary btn-sm"><%= sale.buyer.try(:full_name) || "Unknown" %></button>
                    </a>
                  <% else %>
                    <span class="label label-primary">Reserved</span>
                  <% end %>
                </td>
                <% lot = sale.lot %>
                <td class="text-center">
                  <%= lot.product.name %></td>
                <td class="text-center">
                  <%= lot.name %>
                </td>
                <%# binding.pry %>
                <td class="text-center">
                  <%= number_with_precision(lot.selling_price, precision: 0, separator: ".", delimiter: ",") %>
                </td>
                <td class="text-center">
                  <% if sale.status_id == Sale::PENDING %>
                    <span class="label label-warning">Reserved</span>
                  <% elsif sale.status_id == Sale::REJECTED %>
                    <span class="label label-danger">Rejected</span>
                  <% elsif sale.status_id == Sale::COMPLETED %>
                    <span class="label label-success">Sold</span>
                  <% end %>
                </td>
        
                <td class="text-center">
                <% if sale.status_id == Sale::PENDING %>
                  <% if is_top_level_management? %>
                    
                    <button data-target="#confirm_sale<%= sale.id %>" data-toggle="modal" class="btn btn-success btn-sm">Confirm</button>
                  
                    <button data-target="#reject_sale<%= sale.id %>" data-toggle="modal" class="btn btn-danger btn-sm">Reject</button>
                  <% elsif sale.user_id == current_user.id %>
                    <button data-target="#reject_sale<%= sale.id %>" data-toggle="modal" class="btn btn-danger btn-sm">Reject</button>
                  <% end %>
                <% elsif sale.status_id == Sale::REJECTED %>
                  
                <% elsif sale.status_id == Sale::COMPLETED %>
                  <% if is_top_level_management? %>
                    <a href="<%= edit_sale_path(sale) %>"><button class="btn btn-primary btn-sm">Edit</button>
                    </a>
                  <% end %>
                <% end %>
                </td>
              </tr>

            <div class="modal fade" id="confirm_sale<%= sale.id %>" role="dialog" tabindex="-1" aria-labelledby="confirm_sale" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">

                  <!--Modal header-->
                  <div class="modal-header">
                    <button data-dismiss="modal" class="close" type="button">
                    <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Confirm Sale</h4>
                  </div>

                  <!--Modal body-->
                  <div class="modal-body">
                    <%= render partial: "confirm_sale_form",  :locals => { :sale => sale } %>
                    <%#= render :text => params %>
                  </div>
                </div>
              </div>
            </div>

            <div class="modal fade" id="reject_sale<%= sale.id %>" role="dialog" tabindex="-1" aria-labelledby="confirm_sale" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">

                  <!--Modal header-->
                  <div class="modal-header">
                    <button data-dismiss="modal" class="close" type="button">
                    <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Reject Sale</h4>
                  </div>

                  <!--Modal body-->
                  <div class="modal-body">
                    <%= render partial: "reject_sale_form",  :locals => { :sale => sale } %>
                    <%#= render :text => params %>
                  </div>
                </div>
              </div>
            </div>

            <% end %>
          </tbody>
        </table>

          
                  
        </div> <!-- table responsive-->
        </div>
      </div>

  </div>
</div>
