<% content_for :stylesheets do %>
  <link href="/plugins/bootstrap-datepicker/bootstrap-datepicker.css" rel="stylesheet">
<% end %>
<%#= current_user.company.users.map {|user| user.email if (user.status_id == 1)}.join(", ") %>
<div class="row" id="content_div">
  <div class="col-lg-12">

  <div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">Sales History</h3>
    </div> 
    <!-- index search function here -->
    <%= render "sale_index_search" %>

    <div class="panel-body">
      <div class="table-responsive">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Booking Date</th>
            <th>SPA Date</th>
            <th>Agency</th>
            <th class="text-center">Agent</th>
            <th class="text-left">Purchaser</th>
            <th class="text-center">Product</th>
            <th class="text-center">Unit</th>
            <th class="text-center">Price</th>
            <th class="text-center">Payment</th>
            <th class="text-center">Status</th>
            <th class="text-center">Action<th>
          </tr>
        </thead>

        <tbody>
          <% @sales.each do |sale| %>
          <tr>
            <td><%= sale.created_at.strftime("%d-%m-%Y")  %></td>
            <td><%= sale.confirm_date.strftime("%d-%m-%Y") rescue ""  %></td>
            <td><%= sale.user.company.name rescue "Company not found" %></td>
            <td class="text-center"><%= sale.user.name rescue "User not found" %></td>
            <td class="text-left">
              <% if is_top_level_management? || (sale.user_id == current_user.id) %>
                <a href="<%= edit_buyer_path(sale.buyer, sale_id: sale.id) rescue '#' %>"><button class="btn btn-primary btn-sm"><%= (sale.buyer.try(:full_name) || "Unknown").truncate(30, omission: '...') %></button>
                </a>
              <% else %>
                <span class="label label-primary"><%= sale.buyer.try(:full_name) %></span>
              <% end %>

              <!-- Sources : <%#= sale.buyer.try(:sources_type_id) %>
              Region : <%#= sale.buyer.try(:region_id) %> -->
            </td>
            <% lot = sale.lot %>
            <td class="text-center">
              <%= lot.product.name rescue "Lot not found" %></td>
            <td class="text-center">
              <%= lot.name rescue "Lot not found" %>
            </td>
            <%# binding.pry %>
            <td class="text-center">
              <%= number_with_precision(sale.actual_price, precision: 0, separator: ".", delimiter: ",") rescue "Lot not found" %>
            </td>
            <td class="text-center">
              <% unless sale.status_id == Sale::REJECTED || sale.status_id == Sale::CANCELLED %>
              <%# if sale.payments.any? %>
                <button id="payment-<%= sale.id %>" class="btn btn-sm btn-purple payment">Show</button>
              <%# end %>
                <a href="<%= new_payment_sale_path(sale) %>"><button class="btn btn-primary btn-sm">Add Payment</button>
              <% end %>
              </a>
            </td>
            <td class="text-center">
              <% if sale.status_id == Sale::PENDING %>
                <span class="label label-warning">Prebook</span>
              <% elsif sale.status_id == Sale::REJECTED %>
                <span class="label label-danger">Rejected</span>
              <% elsif sale.status_id == Sale::CANCELLED %>
                <span class="label label-danger">Cancelled</span>
              <% elsif sale.status_id == Sale::COMPLETED %>
                <span class="label label-success">Sold</span>
              <% elsif sale.status_id == Sale::PENDING_RESERVATION %>
                <span class="label label-danger">Pending</span>
              <% elsif sale.status_id == Sale::CONFIRM_RESERVATION %>
                <span class="label label-info">Booked</span>
              <% end %>
            </td>

            <td class="text-center">
              <!-- button action here -->
            <%= render partial: "sale_index_action", locals: {sale: sale} %>
            </td>
          </tr>
          <!-- modal here -->
          <%= render partial: "sale_index_modal", locals: {sale: sale} %>
          <% end %>
        </tbody>
      </table>

          <%= paginate @sales, :theme => 'twitter-bootstrap-3'  %>
          <div class="panel-footer text-right">
            <% if is_top_level_management? %>  
              <%= link_to "Export Excel", export_purchaser_excel_sales_path(format: "xls"), :class=>"btn btn-warning " %>
            <% end %>
          </div>
        </div> <!-- table responsive-->
      </div>
    </div>

  </div>
</div>

<% content_for :javascripts do %>
  <script src="/plugins/bootstrap-datepicker/bootstrap-datepicker.js"></script>
  <script src="/js/demo/form-component.js"></script>
  <script type="text/javascript">
    $('#sale_confirm_date').datepicker({
      format: 'dd/mm/yyyy',
      autoclose: true
    });

    $('#sale_cancel_date').datepicker({
      format: 'dd/mm/yyyy',
      autoclose: true
    });

    // $(document).ready(function() {
      $('button.payment').on('click', function(){
        var sale_name = $(this).attr("id");
        var sale_id = sale_name.split("-")[1];
        var payment_url;
        // alert(sale_id);
        $.get("/sales/"+sale_id, function(data){
          
          bootbox.dialog({
           size: "large",
           title: "Payment",
           message: data,
           buttons: {
             confirm: {
               label: "Close"
             }
           }
         });
        });
        
      });

    // });
  </script>
<% end %>
