<div class="row" id="content_div">
  <div class="col-lg-7">

      <div class="panel">
        <div class="panel-heading">
            <div class="panel-control">
                <a class="fa fa-question-circle fa-lg fa-fw unselectable add-tooltip" href="#" data-original-title="<h4 class='text-thin'>Information</h4><p style='width:150px'>Click on the project name for more detail.</p>" data-html="true" title=""></a>
              </div>
              <h3 class="panel-title">Sales History</h3>
        </div>
        
        <div class="panel-body">

          <h4>Search</h4>
        <%= search_form_for @q do |f| %>

        <table class="table">
          <tr>
            <td>Purchaser Name: </td>
            <td><%= f.search_field :buyer_full_name_cont, :placeholder => "Search Purchaser Name", :class => "form-control"%>
            </td>
            <td>Sales Status: </td>
            <td>
              <select id="q_status_id_eq" name="q[status_id_eq]" class="selectpicker">
                <option value="">Select an Status</option>
                <option value="1">Pending</option>
                <option value="2">Completed</option>
                <option value="3">Rejected</option>
              </select>
            </td>
          </tr>
          
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td><%= f.submit "Search", :class=>"btn btn-default" %></td>
          </tr>
        </table>
        <% end %>
        <div class="table-responsive">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Date</th>
              <th>Agency</th>
              <th class="text-center">Agent</th>
              <th class="text-center">Purchaser</th>
              
              <th class="text-center">Product</th>
              <th class="text-center">Lot</th>
              <th class="text-center">Price</th>
              <th class="text-center">Action<th>
            </tr>
          </thead>

          <tbody>
            <% @sales.each do |sale| %>
              <tr>
                <td><%= sale.created_at.strftime("%d-%m-%Y") %></td>
                <td><%= sale.user.company.name %></td>
                <td class="text-center"><%= sale.user.email %></td>
                <td class="text-center">
                  <a href="<%= edit_buyer_path(sale.buyer, :sale_id => sale.id) %>"><button class="btn btn-primary btn-sm"><%= sale.buyer.try(:full_name) || "Unknown" %></button>
                  </a>
                </td>
                
                <td class="text-center">
                  <%= Lot.find_by(:id => sale.lot_unit_id).product.name %></td>
                <td class="text-center">
                  <%= Lot.find_by(:id => sale.lot_unit_id).name %>
                </td>
                <td class="text-center">
                  <%= Lot.find_by(:id => sale.lot_unit_id).selling_price %>
                </td>
        
                <td class="text-center">
                <% if sale.status_id == Sale::PENDING %>
                  <% if current_user.is_admin? %>
                    
                    <button data-target="#confirm_sale<%= sale.id %>" data-toggle="modal" class="btn btn-warning btn-sm">Confirm</button>
                  
                    <button data-target="#reject_sale<%= sale.id %>" data-toggle="modal" class="btn btn-danger btn-sm">Reject</button>
                    
                  <% end %>
                <% elsif sale.status_id == Sale::REJECTED %>
                  Rejected due to <%= sale.reject_reason %>
                <% elsif sale.status_id == Sale::COMPLETED %>
                  Sold
                <% end %>
                </td>
              </tr>

            <div class="modal fade" id="confirm_sale<%= sale.id %>" role="dialog" tabindex="-1" aria-labelledby="confirm_sale" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">

                  <!--Modal header-->
                  <div class="modal-header">
                    <button data-dismiss="modal" class="close" type="button">
                    <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Confirm Sale</h4>
                  </div>

                  <!--Modal body-->
                  <div class="modal-body">
                    <%= render partial: "confirm_sale_form",  :locals => { :sale_id => sale.id } %>
                    <%#= render :text => params %>
                  </div>
                </div>
              </div>
            </div>

            <div class="modal fade" id="reject_sale<%= sale.id %>" role="dialog" tabindex="-1" aria-labelledby="confirm_sale" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">

                  <!--Modal header-->
                  <div class="modal-header">
                    <button data-dismiss="modal" class="close" type="button">
                    <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Reject Sale</h4>
                  </div>

                  <!--Modal body-->
                  <div class="modal-body">
                    <%= render partial: "reject_sale_form",  :locals => { :sale_id => sale.id } %>
                    <%#= render :text => params %>
                  </div>
                </div>
              </div>
            </div>

            <% end %>
          </tbody>
        </table>

          
                  
        </div> <!-- table responsive-->
        </div>
      </div>

  </div>
</div>
