
  
    <div id="source_type_pie_chart" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
    
    <hr> 
    <div class="table-responsive">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th class="text-center">Type</th>
            <th>Sources</th>
          </tr>
          <% @combine.each do |key, value| %>
          <% if key %>
          <tr>
            <td class="text-center"><%= key %></td>
            <td><%= value %></td>
          </tr>
          <% else %>
          <% end %>
          <% end %>
        </tbody>
        
      </table>
      <%= link_to "Export to Excel", export_sources_type_excel_report_path(@product, format: "xls"), :class=>"btn btn-primary" %>
    </div>


<%= render "/layouts/highchart_options"  %>

<script type="text/javascript">
  $(function () {

            var combine = <%= raw @combine.to_json %>
            console.log(combine);

            var f = [];
            $.each( combine, function( key, value ) {
              // arrayMy.push("'" + key + "'" + ", " + value);
              var x = new Array(key , value);
              f.push(x);
            });
            console.log(f);

            $('#source_type_pie_chart').highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: 1,//null,
                    plotShadow: false
                },
                title: {
                    text: 'Analysis Sources Report.'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.0f} %</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.percentage:.0f} %',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        }
                    }
                  },
                series: [{
                    type: 'pie',
                    name: 'Unit Percentage',
                    data: f
                          // arrayMy
                        // ['Firefox',   40.0],
                        // ['IE',       20.0],
                        // // {
                        // //     name: 'Chrome',
                        // //     y: 12.8,
                        // //     sliced: true,
                        // //     selected: true
                        // // }, 
                }]
            });
   $("div.highcharts-container svg text:last").html("");
          });

</script>
