
        

        <div id="age_pie_chart" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
      
      <hr> 
      <div class="table-responsive">
        <table class="table table-bordered">
          <tbody>
            <tr>
              <th>Age</th>
              <th>Pax</th>
            </tr>
            <tr>
              <td>18-30</td>
              <td><%= a = @buyers.select {|buyer| buyer.age == 1}.size %></td>
            </tr>
            <tr>
              <td>31-40</td>
              <td><%= b = @buyers.select {|buyer| buyer.age == 2}.size %></td>
            </tr>
            <tr>
              <td>41-50</td>
              <td><%= c = @buyers.select {|buyer| buyer.age == 3}.size %></td>
            </tr>
            <tr>
              <td>51-60</td>
              <td><%= d = @buyers.select {|buyer| buyer.age == 4}.size %></td>
            </tr>
            <tr>
              <td>60 & above</td>
              <td><%= e = @buyers.select {|buyer| buyer.age == 5}.size %></td>
            </tr>
          </tbody>
          
        </table>

         <%= link_to "Export to Excel", export_analysis_age_race_excel_report_path(@product, format: "xls"), :class=>"btn btn-primary" %>
      </div>


  <%= render "/layouts/highchart_options"  %>

<script type="text/javascript">
  $(function () {

            var a = <%= a %>
            var b = <%= b %>
            var c = <%= c %>
            var d = <%= d %>
            var e = <%= e %>
            var age_unit_cart = [["18-30", a],["31-40", b],["41-50", c],["51-60", d],["60 & above", e]];
            $('#age_pie_chart').highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: 1,//null,
                    plotShadow: false
                },
                title: {
                    text: 'Summary Ages Report.'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.0f} %</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.percentage:.0f} %',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        }
                    }
                  },
                series: [{
                    type: 'pie',
                    name: 'Unit Percentage',
                    data: age_unit_cart
                          // arrayMy
                        // ['Firefox',   40.0],
                        // ['IE',       20.0],
                        // // {
                        // //     name: 'Chrome',
                        // //     y: 12.8,
                        // //     sliced: true,
                        // //     selected: true
                        // // }, 
                }]
            });
          });

</script>     