<div class="panel">
        
      <div class="panel-body">
        
        <script src="http://code.highcharts.com/highcharts.js"></script>
        <script src="http://code.highcharts.com/modules/exporting.js"></script>
        <div id="race_pie_chart" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
      
      <hr> 
      <div class="table-responsive">
        <table class="table table-bordered">
          <tbody>
            <tr>
              <th>Type</th>
              <th>Race</th>
            </tr>
            <tr>
              <td>chinese</td>
              <td><%= chinese = @buyers.where("race = 1").count %></td>
            </tr>
            <tr>
              <td>bumiputera</td>
              <td><%= bumiputera = @buyers.where("race = 2").count %></td>
            </tr>
            <tr>
              <td>indian</td>
              <td><%= indian = @buyers.where("race = 3").count %></td>
            </tr>
            <tr>
              <td>others</td>
              <td><%= others = @buyers.where("race = 4").count %></td>
            </tr>
            
          </tbody>
          
        </table>
        <%= link_to "Export Excel", export_analysis_age_race_excel_reports_path(format: "xls"), :class=>"btn btn-primary" %>
      </div>
    </div>
  </div>

<script type="text/javascript">
  $(function () {

            // var combine = <%#= raw sold.to_json %>
            var chinese = <%= chinese %>
            var bumiputera = <%= bumiputera %>
            var indian = <%= indian %>
            var others = <%= others %>
            // console.log(sold, reserved, available);


            var race_unit_cart = [["chinese", chinese],["bumiputera", bumiputera],["indian", indian],["others", others]];
            $('#race_pie_chart').highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: 1,//null,
                    plotShadow: false
                },
                title: {
                    text: 'Analysis Race Report.'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.0f} %</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.percentage:.0f} %',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        }
                    }
                  },
                series: [{
                    type: 'pie',
                    name: 'Unit Percentage',
                    data: race_unit_cart
                          // arrayMy
                        // ['Firefox',   40.0],
                        // ['IE',       20.0],
                        // // {
                        // //     name: 'Chrome',
                        // //     y: 12.8,
                        // //     sliced: true,
                        // //     selected: true
                        // // }, 
                }]
            });
          });

</script>     