
<h4>Age Report</h4>
<table class="table table-bordered">
      <tbody>
        <tr>
          <th>Type</th>
          <th>Age</th>
        </tr>
        <tr>
          <td>18-30</td>
          <td><%= a = @buyers.select {|buyer| buyer.age == 1}.size %></td>
        </tr>
        <tr>
          <td>31-40</td>
          <td><%= b = @buyers.select {|buyer| buyer.age == 2}.size %></td>
        </tr>
        <tr>
          <td>41-50</td>
          <td><%= c = @buyers.select {|buyer| buyer.age == 3}.size %></td>
        </tr>
        <tr>
          <td>51-60</td>
          <td><%= d = @buyers.select {|buyer| buyer.age == 4}.size %></td>
        </tr>
        <tr>
          <td>60 & above</td>
          <td><%= e = @buyers.select {|buyer| buyer.age == 5}.size %></td>
        </tr>
      </tbody>
    </table>

    <hr>
    <h4>Race Report</h4>

<table class="table table-bordered">
      <tbody>
        <tr>
          <th>Type</th>
          <th>Race</th>
        </tr>
        <tr>
          <td>chinese</td>
          <td><%= chinese = @buyers.select {|buyer| buyer.race == 1}.size %></td>
        </tr>
        <tr>
          <td>bumiputera</td>
          <td><%= bumiputera = @buyers.select {|buyer| buyer.race == 2}.size %></td>
        </tr>
        <tr>
          <td>indian</td>
          <td><%= indian = @buyers.select {|buyer| buyer.race == 3}.size %></td>
        </tr>
        <tr>
          <td>others</td>
          <td><%= others = @buyers.select {|buyer| buyer.race == 4}.size %></td>
        </tr>
        
      </tbody>
</table>