
<h4>Age Report</h4>
<table class="table table-bordered">
      <tbody>
        <tr>
          <th>Type</th>
          <th>Age</th>
        </tr>
        <tr>
          <td>18-30</td>
          <td><%= a = @buyers.where("age = 1").count %></td>
        </tr>
        <tr>
          <td>31-40</td>
          <td><%= b = @buyers.where("age = 2").count %></td>
        </tr>
        <tr>
          <td>41-50</td>
          <td><%= c = @buyers.where("age = 3").count %></td>
        </tr>
        <tr>
          <td>51-60</td>
          <td><%= d = @buyers.where("age = 4").count %></td>
        </tr>
        <tr>
          <td>60 & above</td>
          <td><%= e = @buyers.where("age = 5").count %></td>
        </tr>
      </tbody>
    </table>

    <hr>
    <h4>Race Report</h4>

<table class="table table-bordered">
      <tbody>
        <tr>
          <th>Type</th>
          <th>Race</th>
        </tr>
        <tr>
          <td>chinese</td>
          <td><%= chinese = @buyers.where("race = 1").count %></td>
        </tr>
        <tr>
          <td>bumiputera</td>
          <td><%= bumiputera = @buyers.where("race = 2").count %></td>
        </tr>
        <tr>
          <td>indian</td>
          <td><%= indian = @buyers.where("race = 3").count %></td>
        </tr>
        <tr>
          <td>others</td>
          <td><%= others = @buyers.where("race = 4").count %></td>
        </tr>
        
      </tbody>
</table>