 <div class="row" id="content_div">
  <div class="col-lg-12">
  <div class="panel">
    <div class="panel-body">
      <script src="http://code.highcharts.com/highcharts.js"></script>
      <script src="http://code.highcharts.com/modules/exporting.js"></script>

    <div id="sales_chart" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto">
      </div>

   <br>
    <div class="table-responsive">
    <%#= render :text => Buyer.first.to_json %>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="text-center">Sales Report</th>
            <th class="text-center">Unit</th>
            <th class="text-center">GDV</th>
          </tr>
         </thead>
         <tbody>
          <% total = 0 %>
          <% @today_sales.each do |sale| %>
          	<% total += sale.lot.selling_price %>
          <% end %>
          <tr>
            <td>Today</td>
            <td class="text-center"><%= @today_sales.size %></td>
            <td class="text-right">RM <%= number_with_delimiter(total) %></td>
          </tr>

          <% total = 0 %>
          <% @yesterday_sales.each do |sale| %>
          	<% total += sale.lot.selling_price %>
          <% end %>
          <tr>
            <td>Yesterday</td>
            <td class="text-center"><%= @yesterday_sales.size %></td>
            <td class="text-right">RM <%= number_with_delimiter(total) %></td>
          </tr>

          <% total = 0 %>
          <% @this_week_sales.each do |sale| %>
          	<% total += sale.lot.selling_price %>
          <% end %>
          <tr>
            <td>This Week</td>
            <td class="text-center"><%= @this_week_sales.size %></td>
            <td class="text-right">RM <%= number_with_delimiter(total) %></td>
          </tr>

          <% total = 0 %>
          <% @this_month_sales.each do |sale| %>
          	<% total += sale.lot.selling_price %>
          <% end %>
          <tr>
            <td>This Month</td>
            <td class="text-center"><%= @this_month_sales.size %></td>
            <td class="text-right">RM <%= number_with_delimiter(total) %></td>
          </tr>

          <% total = 0 %>
          <% @this_quarter_sales.each do |sale| %>
          	<% total += sale.lot.selling_price %>
          <% end %>
          <tr>
            <td>This Quarter</td>
            <td class="text-center"><%= @this_quarter_sales.size %></td>
            <td class="text-right">RM <%= number_with_delimiter(total) %></td>
          </tr>

          <% total = 0 %>
          <% @this_year_sales.each do |sale| %>
          	<% total += sale.lot.selling_price %>
          <% end %>
          <tr>
            <td>This Year</td>
            <td class="text-center"><%= @this_year_sales.size %></td>
            <td class="text-right">RM <%= number_with_delimiter(total) %></td>
          </tr>
          
        </tbody>
        
      </table>
    </div>
  </div>
</div>
</div>
</div>

<% content_for :javascripts do %>
<script type="text/javascript">
  $(function () {
    $('#sales_chart').highcharts({
        title: {
            text: 'Sales Chart',
            x: -20 //center
        },
        // subtitle: {
        //     text: 'Source: WorldClimate.com',
        //     x: -20
        // },
        xAxis: {
            categories: ['Today', 'Yesterday', 'This week', 'This month', 'This quarter', 'This year']
        },
        yAxis: {
            title: {
                text: 'Unit Sold'
            },
            min: 0,
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        tooltip: {
            valueSuffix: 'Unit'
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series: [{
            name: 'Sales',
            data: [<%= @today_sales.size %>, <%= @yesterday_sales.size %>, <%= @this_week_sales.size %>, <%= @this_month_sales.size %>, <%= @this_quarter_sales.size %>, <%= @this_year_sales.size %>]
        }]
    });
});

</script>
<% end %>