

    <div id="sales_chart" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto">
      </div>

   <br>
    <div class="table-responsive">
    <%#= render :text => Buyer.first.to_json %>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="text-center">Sales Report</th>
            <th class="text-center">Unit</th>
            <th class="text-center">GDV</th>
          </tr>
         </thead>
         <tbody>
          <% today_total = 0 %>
          <% @today_sales.each do |sale| %>
          	<% today_total += sale.lot.selling_price %>
          <% end %>
          <tr>
            <td>Today</td>
            <td class="text-center"><%= @today_sales.size %></td>
            <td class="text-right">RM <%= number_with_delimiter(today_total) %></td>
          </tr>

          <% yesterday_total = 0 %>
          <% @yesterday_sales.each do |sale| %>
          	<% yesterday_total += sale.lot.selling_price %>
          <% end %>
          <tr>
            <td>Yesterday</td>
            <td class="text-center"><%= @yesterday_sales.size %></td>
            <td class="text-right">RM <%= number_with_delimiter(yesterday_total) %></td>
          </tr>

          <% this_week_total = 0 %>
          <% @this_week_sales.each do |sale| %>
          	<% this_week_total += sale.lot.selling_price %>
          <% end %>
          <tr>
            <td>This Week</td>
            <td class="text-center"><%= @this_week_sales.size %></td>
            <td class="text-right">RM <%= number_with_delimiter(this_week_total) %></td>
          </tr>

          <% this_month_total = 0 %>
          <% @this_month_sales.each do |sale| %>
          	<% this_month_total += sale.lot.selling_price %>
          <% end %>
          <tr>
            <td>This Month</td>
            <td class="text-center"><%= @this_month_sales.size %></td>
            <td class="text-right">RM <%= number_with_delimiter(this_month_total) %></td>
          </tr>

          <% this_quarter_total = 0 %>
          <% @this_quarter_sales.each do |sale| %>
          	<% this_quarter_total += sale.lot.selling_price %>
          <% end %>
          <tr>
            <td>This Quarter</td>
            <td class="text-center"><%= @this_quarter_sales.size %></td>
            <td class="text-right">RM <%= number_with_delimiter(this_quarter_total) %></td>
          </tr>

          <% this_year_total = 0 %>
          <% @this_year_sales.each do |sale| %>
          	<% this_year_total += sale.lot.selling_price %>
          <% end %>
          <tr>
            <td>This Year</td>
            <td class="text-center"><%= @this_year_sales.size %></td>
            <td class="text-right">RM <%= number_with_delimiter(this_year_total) %></td>
          </tr>
          
        </tbody>
        
      </table>
    </div>


<script type="text/javascript">
  $(function () {
    $('#sales_chart').highcharts({
        chart: {
            type: 'bar'
        },
        title: {
            text: 'Sales Report'
        },
        // subtitle: {
        //     text: 'Source: <a href="https://en.wikipedia.org/wiki/World_population">Wikipedia.org</a>'
        // },
        xAxis: {
            categories: ['Today', 'Yesterday', 'This week', 'This month', 'This quarter', 'This year'],
            title: {
                text: null
            }
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Sales',
                align: 'high'
            },
            labels: {
                overflow: 'justify'
            }
        },
        tooltip: {
            valueSuffix: ''
        },
        plotOptions: {
            bar: {
                dataLabels: {
                    enabled: true
                }
            }
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'top',
            x: -40,
            y: 80,
            floating: true,
            borderWidth: 1,
            backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
            shadow: true
        },
        credits: {
            enabled: false
        },
        series: [{
            name: 'Year <%= Date.current.year %>',
            data: [<%= today_total %>, <%= yesterday_total %>, <%= this_week_total %>, <%= this_month_total %>, <%= this_quarter_total %>, <%= this_year_total %> ]
        }]
    });
});

</script>