
					<!--Menu-->
					<!--================================-->
					<div id="mainnav-menu-wrap">
						<div class="nano">
							<div class="nano-content">
								<ul id="mainnav-menu" class="list-group">
						
									<!--Category name-->
									<li class="list-header">Navigation</li>
						
									<!--Menu list item-->
									<li class="active-link">
										<a href="/">
											<i class="fa fa-dashboard"></i>
											<span class="menu-title">
												<strong>Dashboard</strong>
												<!-- <span class="label label-success pull-right">Top</span> -->
											</span>
										</a>
									</li>
						
									<li class="list-divider"></li>
						
									<!--Category name-->
									<li class="list-header">Components</li>
						
									<!--Menu list item-->
									<li>
										<a href="<%= projects_path %>">
											<i class="fa fa-briefcase"></i>
											<span class="menu-title">Project</span>
											<!-- <i class="arrow"></i> -->
										</a>
									</li>

									<!--Menu list item-->
									<li>
										<a href="<%= companies_path %>">
											<i class="fa fa-briefcase"></i>
											<span class="menu-title">Agency</span>
											<!-- <i class="arrow"></i> -->
										</a>
									</li>
						
									<!--Category name-->
									<li class="list-header">Management</li>
										<!--Menu list item-->
										<li>
											<a href="<%= users_path %>">
												<i class="fa fa-plug"></i>
												<span class="menu-title">
													User
													<!-- <span class="label label-mint pull-right">New</span> -->
												</span>
											</a>
										</li>
						
									<!--Category name-->
									<li class="list-header">System</li>
						
									<!--Menu list item-->
									<li>
										<a href="<%= reservations_path %>">
											<i class="fa fa-briefcase"></i>
											<span class="menu-title">Reservation</span>
											<!-- <i class="arrow"></i> -->
										</a>
									</li>

									<li class="list-header">Sales History</li>
						
									<!--Menu list item-->
									<li>
										<a href="<%= sales_path %>">
											<i class="fa fa-briefcase"></i>
											<span class="menu-title">Personal Sales</span>
											<!-- <i class="arrow"></i> -->
										</a>
									</li>

									<li class="list-header">Report</li>

									<li>
										<% if current_user.is_admin? %>
										<a href="<%= summary_report_reports_path %>">
											<i class="fa fa-briefcase"></i>
											<span class="menu-title">Summary Report</span>
										</a>
										<% end %>
									</li>
								</ul>

							</div>
						</div>
					</div>
					<!--================================-->
					<!--End menu-->