
					<!--Menu-->
					<!--================================-->
					<div id="mainnav-menu-wrap">
						<div class="nano">
							<div class="nano-content">
								<ul id="mainnav-menu" class="list-group">
						
									<!--Category name-->
									<li class="list-header">Navigation</li>
						
									<!--Menu list item-->
									<li class="active-link">
										<a href="/">
											<i class="fa fa-dashboard"></i>
											<span class="menu-title">
												<strong>Dashboard</strong>
												<!-- <span class="label label-success pull-right">Top</span> -->
											</span>
										</a>
									</li>

									<!--Menu list item-->
									<li>
										<a href="<%= profile_companies_path %>">
											<i class="fa fa-pencil-square-o"></i>
											<span class="menu-title">
												<strong>Company Profile</strong>
												<!-- <span class="label label-success pull-right">Top</span> -->
											</span>
										</a>
									</li>

						
									<li class="list-divider"></li>
						
									<!--Category name-->
									<li class="list-header">Components</li>
						
									<!--Menu list item-->
									<li>
										<a href="<%= projects_path %>">
											<i class="fa fa-university"></i>
											<span class="menu-title">Project</span>
											<!-- <i class="arrow"></i> -->
										</a>
									</li>

									<!--Menu list item-->
									<li>
										<a href="<%= companies_path %>">
											<i class="fa fa-users"></i>
											<span class="menu-title">Agency</span>
											<!-- <i class="arrow"></i> -->
										</a>
									</li>
                  
                  <% if is_top_level_admin? %>
                    <% if current_user.company.products.any? %>
											<!--Category name-->
											<li class="list-header">Products</li>
								
								      <% current_user.company.products.each do |product| %>
												<!--Menu list item-->
												<li>
													<a href="<%= product_path(product) %>">
														<i class="fa fa-building"></i>
														<span class="menu-title"><%= product.name  %></span>
														<!-- <i class="arrow"></i> -->
													</a>
												</li>
											<% end %>
										<% end %>
									<% end %>
						
									<!--Category name-->
									<li class="list-header">Management</li>
										<!--Menu list item-->
										<li>
											<a href="<%= users_path %>">
												<i class="fa fa-user"></i>
												<span class="menu-title">
													User
													<!-- <span class="label label-mint pull-right">New</span> -->
												</span>
											</a>
										</li>
						
									<!--Category name-->
									<li class="list-header">System</li>
						
									<!--Menu list item-->
									<li>
										<a href="<%= reservations_path %>">
											<i class="fa fa-shopping-cart"></i>
											<span class="menu-title">Reservation</span>
											<!-- <i class="arrow"></i> -->
										</a>
									</li>

									<li class="list-header">Sales History</li>
						
									<!--Menu list item-->
									<li>
										<a href="<%= sales_path %>">
											<i class="fa fa-calculator"></i>
											<span class="menu-title">Personal Sales</span>
											<!-- <i class="arrow"></i> -->
										</a>
									</li>

									<li class="list-header">Report</li>
									<%# if is_top_level_management? %>
										<li>
												<a href="<%= summary_report_reports_path %>">
													<i class="fa fa-bar-chart"></i>
													<span class="menu-title">Summary Report</span>
												</a>
										</li>
									<%# end %>
									<li>
										<a href="<%= sales_reports_path %>">
											<i class="fa fa-bar-chart"></i>
											<span class="menu-title">Sales Report</span>
										</a>
									</li>
									<li>
										<a href="<%= monthly_sales_reports_path %>">
											<i class="fa fa-bar-chart"></i>
											<span class="menu-title">Monthly Sales Report</span>
										</a>
									</li>
									<li>
										<a href="<%= analysis_unit_report_reports_path %>">
											<i class="fa fa-bar-chart"></i>
											<span class="menu-title">Analysis Unit Report</span>
										</a>
										<a href="<%= analysis_age_report_reports_path %>">
											<i class="fa fa-bar-chart"></i>
											<span class="menu-title">Analysis Age Report</span>
										</a>
										<a href="<%= analysis_sources_type_report_reports_path %>">
											<i class="fa fa-bar-chart"></i>
											<span class="menu-title">Analysis Sources Report</span>
										</a>
										<a href="<%= analysis_race_report_reports_path %>">
											<i class="fa fa-bar-chart"></i>
											<span class="menu-title">Analysis Races Report</span>
										</a>
									</li>
								</ul>

							</div>
						</div>
					</div>
					<!--================================-->
					<!--End menu-->